<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li th:each="navMenuItem : ${baseModel.footerMenus}">
                        <a th:if="${navMenuItem.staticPage} != null" th:href="@{/{path}(path=${navMenuItem.staticPage.name})}" th:text="${navMenuItem.staticPage.title}"></a>
                        <a th:if="${navMenuItem.staticPage} == null" th:href="@{/{path}(path=${navMenuItem.slug})}" th:text="${navMenuItem.title}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>