<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Contacts</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>

<!-- Navbar -->
<div class="navbar navbar-inverse navbar-static-top" role="navigation" th:fragment="header">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img style="width: 24px; display: inline;" alt="Quis Listing"
                     src="../../../resources/images/logo-ql.png"
                     th:src="@{/resources/images/logo-ql.png}"/><span style="margin-left: 5px;">Quis Listing</span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li th:each="navMenuItem : ${baseModel.topHeaderMenus}">
                    <a th:href="@{${navMenuItem.refPost.name}}" th:text="${navMenuItem.title}"></a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"
                       th:text="#{fragment.header.language}">Language <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li th:each="language : ${baseModel.activeLanguages}">
                            <a href="#" onclick="changeLanguage(event);" th:attr="ql-data=${language.languageCode}">
                                <span th:text="${language.translatedName}">English</span>

                                <span th:if="${!language.languageCode.equals(language.displayLanguageCode)}"
                                             th:text="' (' + ${language.englishName} + ')'">English Translated</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/sign-in" th:href="@{/sign-in}">
                        <span class="glyphicon glyphicon-log-in"></span>
                        <span th:text="#{fragment.header.login}">Log In</span>
                    </a>
                </li>
                <li sec:authorize="!isAuthenticated()">
                    <a href="/sign-up" th:href="@{/sign-up}">
                        <span class="glyphicon glyphicon-user"></span>
                        <span th:text="#{fragment.header.signup}">Sign Up</span>
                    </a>
                </li>
                <li sec:authorize="isAuthenticated()" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span sec:authentication="name">Bob</span> <b class="caret"></b>
                    </a>
                        <ul class="dropdown-menu">
                            <li><a href="#" th:href="${baseModel.profilePage.name}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <span th:text="#{fragment.header.account}">Account</span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li><a href="/sign-out" th:href="@{/sign-out}">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    <span th:text="#{fragment.header.logout}">Log Out</span>
                                </a>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
    <script type="text/javascript">
        function changeLanguage(event) {
            let langCode = $(event.currentTarget).attr('ql-data');
            if (langCode != '' || langCode != 'undefined') {
                window.location.replace('?lang=' + langCode);
            }
        }
    </script>
</div>
<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>