<!DOCTYPE html>
<html>
<head>
    <title>Sign in</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>Sign in</h1>
</div>
<div>
    <form>
        <div>
            <label for="username">Login</label>
            <input type="text" id="username"/>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password"/>
        </div>
        <div>
            <label for="rememberMe">
                <input type="checkbox" id="rememberMe" checked="checked"/>
                <span>Remember me</span>
            </label>
        </div>
        <button type="submit">Sign in</button>
    </form>
    <p></p>
    <div>
        <a href="">Did you forget your password?</a>
    </div>
    <div>
        You don't have an account yet? <a href="">Register a new account</a>
    </div>

</div>

</body>
</html>