<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Contacts</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1 th:text="#{page.account.activation.text_01}">Account Successfully Activated</h1>
            <h2 th:text="#{page.account.activation.text_02}">Now you can login with your account information</h2>
            <hr/>
            <h3>
                <span th:text="#{page.account.activation.text_03}">Click on</span>
                <a class="" href="/sign-in" th:href="@{/sign-in}"
                   th:text="#{page.account.activation.button.login}">Log in
                </a>
                <span th:text="#{page.account.activation.text_04}">to get access to your account</span>
            </h3>
        </div>
    </div>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>