<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Reset your password</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" id="passwordResetFinishApp" class="container">
    <div v-if="success" class="text-center">
        <h1 th:text="#{page.password_reset.success.test_01}">Password reset succeeded</h1>
        <h2>
            <span th:text="#{page.password_reset.success.test_02}">Now you can</span>
            &nbsp;<a class="" href="/sign-in" th:href="@{/sign-in}"
                     th:text="#{page.password_reset.success.test_03}">Log in</a>
        </h2>
    </div>
    <form method="post" id="passwordResetForm" v-on:submit.prevent="onSubmit($event)"
          v-else="v-else">
        <h1 th:text="#{page.password_reset.text_01}">Reset your password</h1>
        <h2>
            <span th:text="#{page.password_reset.text_02}">You have requested to reset the password for</span>
            &nbsp;<b><span th:text="${user.email}">example@email.com</span></b>
        </h2>
        <hr/>
        <div class="form-group form-group-lg"
             v-bind:class="{ 'has-error': $v.form.password.$error, 'has-success': $v.form.password.$dirty &amp;&amp; !$v.form.password.$invalid }">
            <input type="password" class="form-control" id="password1"
                   th:placeholder="#{page.password_reset.form.password1.placeholder}"
                   placeholder="New password"
                   v-model.trim="form.password"

                   v-on:input="delayTouch($v.form.password)"
            />
            <span class="help-block" v-if="!$v.form.password.required &amp;&amp; $v.form.password.$dirty">
                Field is required
            </span>
            <span class="help-block"
                  v-if="!$v.form.password.minLength &amp;&amp; $v.form.password.$dirty">
                            <span>Min</span>
                            {{ $v.form.password.$params.minLength.min }}
                            <span>letters</span>
            </span>
            <span class="help-block"
                  v-if="!$v.form.password.maxLength &amp;&amp; $v.form.password.$dirty">
                            <span>Max</span>
                            {{ $v.form.password.$params.maxLength.max }}
                            <span>letters</span>
            </span>
        </div>
        <div class="form-group form-group-lg"
             v-bind:class="{ 'has-error': $v.form.repeatPassword.$error, 'has-success': $v.form.repeatPassword.$dirty &amp;&amp; !$v.form.repeatPassword.$invalid }"
        >
            <input type="password" class="form-control" id="password2"
                   th:placeholder="#{page.password_reset.form.password2.placeholder}"
                   v-model.trim="form.repeatPassword"
                   v-on:input="delayTouch($v.form.repeatPassword)"
                   placeholder="Retype new password"/>
            <span class="help-block" v-if="!$v.form.repeatPassword.sameAsPassword &amp;&amp; $v.form.repeatPassword.$dirty">
                Passwords must be identical
            </span>

        </div>
        <div class="form-group form-group-lg">
            <button type="submit" class="btn btn-primary btn-block btn-lg" id="btnResetPassword"
                    th:text="#{page.password_reset.form.button.reset_my_password}">
                Reset my password
            </button>
        </div>
    </form>

    <!-- Load current page javascript file -->
    <script src="../../../resources/js/password-reset-finish.js"
            th:src="@{/resources/js/password-reset-finish.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            let jsTranslations = [[${baseModel.jsTranslations}]];
            PasswordResetFinish.init(jsTranslations);
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>