<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Profile</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/css/styles.css"
          th:href="@{/resources/css/styles.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" id="profileApp" class="container">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="#information" class="nav-link" aria-controls="information" role="tab"
                                                      data-toggle="tab" th:text="#{page.account.profile.text_01}">Information</a>
            </li>
            <li class="nav-item">
                <a href="#password-change" class="nav-link" aria-controls="password-change" role="tab"
                                       data-toggle="tab" th:text="#{page.account.profile.text_02}">Password change</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="information">
                <form id="profileForm" method="post" style="margin-top: 10px;" th:object="${user}"
                      v-on:submit.prevent="onSubmit($event)" v-cloak>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label"
                               th:text="#{page.account.profile.form.label.email}">Email</label>
                        <div class="col-sm-10">
                            <input type="hidden" th:field="*{login}"
                                   v-model="profile.login"/>
                            <input type="email" class="form-control" id="inputEmail3"
                                   readonly="readonly"
                                   th:field="*{email}"
                                   v-model="profile.email"/>
                        </div>
                    </div>
                    <div class="form-group row"
                         v-bind:class="{ 'has-error': $v.profile.firstName.$error, 'has-success': $v.profile.firstName.$dirty &amp;&amp; !$v.profile.firstName.$invalid }">
                        <label for="inputFirstName" class="col-sm-2 col-form-label"
                               th:text="#{page.account.profile.form.label.first_name}">First name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputFirstName"
                                   th:field="*{firstName}"
                                   v-model="profile.firstName"
                                   v-on:input="delayTouch($v.profile.firstName)"/>
                            <span class="help-block"
                              v-if="!$v.profile.firstName.maxLength &amp;&amp; $v.profile.firstName.$dirty">
                                <span th:text="#{validation.max}">Max</span>
                                {{ $v.profile.firstName.$params.maxLength.max }}
                                <span th:text="#{validation.letters}">letters</span>.
                            </span>
                        </div>
                    </div>
                    <div class="form-group row"
                         v-bind:class="{ 'has-error': $v.profile.lastName.$error, 'has-success': $v.profile.lastName.$dirty &amp;&amp; !$v.profile.lastName.$invalid }">
                        <label for="inputLastName" class="col-sm-2 col-form-label"
                               th:text="#{page.account.profile.form.label.last_name}">Last name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputLastName"
                                   th:field="*{lastName}"
                                   v-model="profile.lastName"
                                   v-on:input="delayTouch($v.profile.lastName)"/>
                            <span class="help-block"
                                  v-if="!$v.profile.lastName.maxLength &amp;&amp; $v.profile.lastName.$dirty">
                                    <span th:text="#{validation.max}">Max</span>
                                    {{ $v.profile.lastName.$params.maxLength.max }}
                                    <span th:text="#{validation.letters}">letters</span>.
                                </span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" th:field="*{updates}"
                                           v-model="profile.updates"/>
                                    <span th:text="#{page.account.profile.form.label.receive_updates_via_email}">Receive updates via email</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputLanguage" class="col-sm-2 col-form-label"
                               th:text="#{page.account.profile.form.label.language}">Language</label>
                        <div class="col-sm-10" id="inputLanguage">
                            <select class="form-control"
                                    th:field="*{langKey}"
                                    v-model="profile.langKey">
                                <option th:each="activeLanguage: ${baseModel.activeLanguages}"
                                        th:value="${activeLanguage.language.code}">
                                    <span th:text="${activeLanguage.language.englishName}">English</span>

                                    <span th:if="${activeLanguage.languageTranslation != null}"
                                          th:text="' (' + ${activeLanguage.languageTranslation.name} + ')'">English Translated</span>
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="btnSaveProfile"
                                    th:attr="data-loading-text=#{page.account.profile.form.saving}">
                                <i v-if="btnSaveProfileLoading" class="fa fa-circle-o-notch fa-spin\"></i>
                                <i v-if="!btnSaveProfileLoading" class="fa fa-floppy-o" aria-hidden="true"></i>
                                <span th:text="#{page.account.profile.form.btn_save}">Save</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" class="tab-pane" id="password-change">
                <form id="passwordChangeForm" method="post" class="form-horizontal" style="margin-top: 10px;"
                      v-on:submit.prevent="onSubmitPassword($event)" v-cloak>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"
                               th:text="#{page.account.profile.password_change.label.old_password}">Old
                            password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                   v-model="password.oldPassword"
                                   v-on:input="delayTouch($v.password.oldPassword)"
                                   v-bind:class="{ 'is-invalid': $v.password.oldPassword.$error, 'is-valid': $v.password.oldPassword.$dirty &amp;&amp; !$v.password.oldPassword.$invalid }"
                            />
                            <span class="invalid-feedback"
                                  v-if="!$v.password.oldPassword.required &amp;&amp; $v.password.oldPassword.$dirty"
                                  th:text="#{validation.required}">Field is required</span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"
                               th:text="#{page.account.profile.password_change.label.new_password}">New
                            password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                   v-model="password.newPassword"
                                   v-on:input="delayTouch($v.password.newPassword)"
                                   v-bind:class="{ 'is-invalid': $v.password.newPassword.$error, 'is-valid': $v.password.newPassword.$dirty &amp;&amp; !$v.password.newPassword.$invalid }"
                            />
                            <span class="invalid-feedback"
                                  v-if="!$v.password.newPassword.required &amp;&amp; $v.password.newPassword.$dirty"
                                  th:text="#{validation.required}">Field is required</span>
                            <span class="invalid-feedback"
                                  v-if="!$v.password.newPassword.minLength &amp;&amp; $v.password.newPassword.$dirty">
                                                <span>Min</span>
                                                {{ $v.password.newPassword.$params.minLength.min }}
                                                <span>letters</span>
                                </span>
                            <span class="invalid-feedback"
                                  v-if="!$v.password.newPassword.maxLength &amp;&amp; $v.password.newPassword.$dirty">
                                                <span>Max</span>
                                                {{ $v.password.newPassword.$params.maxLength.max }}
                                                <span>letters</span>
                                </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label"
                               th:text="#{page.account.profile.password_change.label.confirm}">Confirm</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control"
                                   v-model="password.newPasswordRepeat"
                                   v-on:input="delayTouch($v.password.newPasswordRepeat)"
                                   v-bind:class="{ 'is-invalid': $v.password.newPasswordRepeat.$error, 'is-valid': $v.password.newPasswordRepeat.$dirty &amp;&amp; !$v.password.newPasswordRepeat.$invalid }"
                            />
                            <span class="invalid-feedback"
                                  v-if="!$v.password.newPasswordRepeat.sameAsPassword &amp;&amp; $v.password.newPasswordRepeat.$dirty">
                                    Passwords must be identical
                                </span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" id="btnSavePassword">
                                <i v-if="btnSavePasswordLoading" class="fa fa-circle-o-notch fa-spin\"></i>
                                <i v-if="!btnSavePasswordLoading" class="fa fa-floppy-o" aria-hidden="true"></i>
                                <span th:text="#{page.account.profile.form.btn_save}">Save</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    <!-- Load current page javascript file -->
    <script src="../../../resources/js/account/profile.js"
            th:src="@{/resources/js/account/profile.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            let jsTranslations = [[${baseModel.jsTranslations}]];
            let user = [[${user}]];
            Profile.init(user, jsTranslations);
        };
    </script>
</div>


<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>

</body>
</html>