<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myListingLabel" data-translate="quisListingApp.qlPage.home.createOrEditLabel">
            Create or edit a Ql Page</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.qlPage.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.qlPage.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.qlPage.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="vm.qlPage.title"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.qlPage.name"
                   for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.qlPage.name"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.qlPage.status"
                   for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                   ng-model="vm.qlPage.status"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.qlPage.content" for="field_content">Content</label>
            <textarea rows="4" type="text" class="form-control" name="content" id="field_content"
                      ng-model="vm.qlPage.content"
                      ui-tinymce="tinymceOptions"
            >
            </textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
