<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" id="myDlContentFieldLabel" data-translate="quisListingApp.dlContentField.config.title">
            Dl Content Field Configuration</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-horizontal">
            <div class="form-group" ng-show="vm.dlContentField.id">
                <label class="control-label col-md-2" for="id" data-translate="global.field.id">ID</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="vm.dlContentField.id" readonly/>
                </div>
            </div>
        </div>
        <hr />
        <div ng-if="vm.dlContentField.type == 'STRING'">
            <div class="form-group">
                <label for="string_max_length" data-translate="quisListingApp.dlContentField.string.maxLength">Max
                    length</label>
                <input type="text" class="form-control" id="string_max_length" name="string_max_length"
                       ng-model="vm.dlContentFieldOption.maxLength"/>
            </div>
            <div class="form-group">
                <label for="string_regex" data-translate="quisListingApp.dlContentField.string.regex">Regex</label>
                <input type="text" class="form-control" id="string_regex" name="string_regex"
                       ng-model="vm.dlContentFieldOption.regex"/>
            </div>
        </div>
        <div ng-if="vm.dlContentField.type == 'DEPENDENT_SELECT' || vm.dlContentField.type == 'SELECT' || vm.dlContentField.type == 'CHECKBOX'">
            <div class="form-horizontal">
                <div class="form-group" ng-if="vm.dlContentField.type == 'DEPENDENT_SELECT'">
                    <label class="control-label col-md-2">Parent</label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <ui-select allow-clear
                                       ng-model="vm.parentDlContentFieldItem"
                                       on-select="vm.onSelectParentItemCallback($item, $model)" theme="bootstrap">
                                <ui-select-match placeholder="Select or search a content field item in the list...">
                                    {{$select.selected.value}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item.id as item in vm.rootDlContentFieldItems | filter: $select.search">
                                    <span ng-bind-html="item.value | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>

                            <span class="input-group-btn">
                              <button type="button" ng-click="vm.clearParent()" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                              </button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Item Name</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" class="form-control" placeholder="Item Name"
                               ng-model="vm.newDlContentFieldItem.value"/>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default btn-block" ng-click="vm.addDlContentFieldItem()">
                            Add
                        </button>
                    </div>
                </div>
            </div>
            <hr/>
            <div ng-repeat="dlContentFieldItem in vm.dlContentFieldItems">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-md-1">Id: {{dlContentFieldItem.id}}</label>
                        <div class="col-md-7">
                            <input type="text" class="form-control" ng-model="dlContentFieldItem.value"/>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-default btn-block" ng-click="vm.saveItem(dlContentFieldItem)">
                                <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger btn-block" ng-click="vm.deleteItem(dlContentFieldItem)">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                                    data-translate="entity.action.delete">Delete</span>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div ng-if="vm.dlContentField.type == 'NUMBER'">
            <div class="form-group">
                <label data-translate="quisListingApp.dlContentField.number.isIntegerOrDecimal">Is Integer or
                    Decimal</label>
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="vm.dlContentFieldOption.isInteger" uib-btn-radio="true"
                           data-translate="quisListingApp.dlContentField.number.integer">Integer</label>
                    <label class="btn btn-primary" ng-model="vm.dlContentFieldOption.isInteger" uib-btn-radio="false"
                           data-translate="quisListingApp.dlContentField.number.decimal">Decimal</label>
                </div>
            </div>
            <div class="form-group">
                <label for="number_decimal_separator"
                       data-translate="quisListingApp.dlContentField.number.decimalSeparator">Decimal separator</label>
                <input type="text" class="form-control" id="number_decimal_separator" name="number_decimal_separator"
                       ng-model="vm.dlContentFieldOption.decimalSeparator"/>
            </div>
            <div class="form-group">
                <label for="number_thousands_separator"
                       data-translate="quisListingApp.dlContentField.number.thousandsSeparator">Thousands
                    separator</label>
                <input type="text" class="form-control" id="number_thousands_separator"
                       name="number_thousands_separator"
                       ng-model="vm.dlContentFieldOption.thousandsSeparator"/>
            </div>
            <div class="form-group">
                <label for="number_min" data-translate="quisListingApp.dlContentField.number.min">Min</label>
                <input type="text" class="form-control" id="number_min" name="number_min"
                       ng-model="vm.dlContentFieldOption.min"/>
            </div>
            <div class="form-group">
                <label for="number_max" data-translate="quisListingApp.dlContentField.number.max">Max</label>
                <input type="text" class="form-control" id="number_max" name="number_max"
                       ng-model="vm.dlContentFieldOption.max"/>
            </div>
        </div>
        <div ng-if="vm.dlContentField.type == 'WEBSITE'">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.dlContentFieldOption.isBlank">
                    <span data-translate="quisListingApp.dlContentField.website.isBlank">Open link in new window</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.dlContentFieldOption.isNoFollow">
                    <span data-translate="quisListingApp.dlContentField.website.isNoFollow">Add nofollow attribute</span>
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.dlContentFieldOption.useLinkText">
                    <span data-translate="quisListingApp.dlContentField.website.useLinkText">Enable link text field</span>
                </label>
            </div>
            <div class="form-group">
                <label for="website_default_link_text"
                       data-translate="quisListingApp.dlContentField.website.defaultLinkText">Default link text</label>
                <input type="text" class="form-control" id="website_default_link_text" name="website_default_link_text"
                       ng-model="vm.dlContentFieldOption.defaultLinkText"/>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="vm.dlContentFieldOption.useDefaultLinkText">
                    <span data-translate="quisListingApp.dlContentField.website.defaultLinkText">Use default link text when empty</span>
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
