<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Home</title>
</head>
<body>
<div class="container" th:fragment="content">
    <div id="landingApp" v-cloak>
        <div class="row">
            <div class="jumbotron" style="padding-top: 15px; padding-bottom: 15px; margin-bottom: 20px;">
                <h2 style="text-align: center;" th:text="#{page.home.label.add_your_listing}">Add your listing!</h2>
                <p style="text-align: center;" th:text="#{page.home.label.easy_setup}">Easy setup, 100% free</p>
                <p style="text-align: center;">
                    <a class="btn btn-primary btn-lg" href="my-listings/add" role="button" th:text="#{page.home.label.get_started}">
                        Get started
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" >
                <div class="well well-sm" >
                    <div class="input-group" >
                        <input type="text" class="form-control" v-model="filter.text" v-on:keyup.enter="onSearch"
                               th:placeholder="#{page.home.label.search_for_listing}"
                               placeholder="Search for a listing ...">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="button" v-on:click="onSearch" th:text="#{page.home.label.go}">Go!</button>
                      </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4 style="margin-top: 0;"><span class="label label-default" th:text="#{page.home.label.latest_listings}">Latest listings</span></h4>
            <div class="col-md-12">
                <div class="container">
                    <div class="flex-row row">
                        <div th:each="dlListing : ${dlListings}"
                             class="col-xs-12 col-sm-4 col-lg-3">
                            <div class="thumbnail">
                                <a th:href="'/listings/' + ${dlListing.id} + '/' + ${dlListing.name}">
                                    <img th:if="${dlListing.attachments==null} or ${#lists.size(dlListing.attachments) == 0}" src="../../resources/images/no-image-available.jpg"
                                         th:src="@{/resources/images/no-image-available.jpg}"
                                         alt="No image available"
                                         data-holder-rendered="true"/>
                                    <img th:if="${dlListing.attachments!=null} and ${#lists.size(dlListing.attachments) > 0}"
                                         th:src="'/content/files' + ${dlListing.attachments[0].attachmentMetadata.smallImageResizeMeta.detail.file}"
                                         data-holder-rendered="true" />
                                    <div class="caption"><h4 th:text="${dlListing.title}">Some title</h4></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Lazy loaded listings -->
                    <div class="flex-row row">
                        <div v-for="dlListing in dlListings" class="col-xs-12 col-sm-4 col-lg-3"
                             v-bind:style="{ display: dlListings.length>0 ? 'unset' : 'none' }">
                            <div class="thumbnail">
                                <a v-bind:href="'/listings/' + dlListing.id + '/' + dlListing.name">
                                    <img v-if="dlListing.attachments==null || dlListing.attachments.length==0" src="../../resources/images/no-image-available.jpg"
                                         th:src="@{/resources/images/no-image-available.jpg}"
                                         alt="No image available"
                                         data-holder-rendered="true" />
                                    <img v-else
                                         v-bind:src="'/content/files' + dlListing.attachments[0].attachmentMetadata.smallImageResizeMeta.detail.file"
                                         data-holder-rendered="true" />
                                    <div class="caption"><h4>{{dlListing.title}}</h4></div>
                                </a>
                            </div>
                        </div>

                        <!--<div th:each="dlCategory : ${dlCategories}">-->
                            <!--<span th:text="${dlCategory.name}"></span>-->
                            <!--<span th:text="${dlCategory.count}"></span>-->
                        <!--</div>-->
                    </div>
                    <div class="row text-center" v-if="pagingParams.loadedDlListings<pagingParams.totalDlListings">
                        <div style="margin-bottom: 20px;">
                            <button id="btnLoadMore" href="#" class="btn btn-default btn-block btn-lg" role="button"
                                    th:attr="data-loading-text='<i class=\'fa fa-circle-o-notch fa-spin\'></i>' + #{page.default.btn_load_mode}"
                                    th:text="#{page.default.btn_load_mode}"
                                    v-bind:disabled="pagingParams.isLoading"
                                    v-on:click="onLoadNext">Load more</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/default.js"
            th:src="@{/resources/js/default.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            var totalDlListings = [[${totalDlListings}]];
            var loadedDlListings = [[${loadedDlListings}]];
            LandingPage.init(totalDlListings, loadedDlListings);
        };
    </script>
</div>
</body>
</html>