<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}">Home</title>
</head>
<body>
<div class="container" th:fragment="content">
    <div id="landingApp">
        <div class="row">
            <div class="col-md-12">
                <div class="container-fluid">
                    <div class="row">
                        <div v-for="dlListing in dlListings" style="display: none;"
                             class="col-sm-6 col-md-4 col-lg-3" v-bind:style="{ display: dlListings.length>0 ? 'unset' : 'none' }">
                            <div class="thumbnail">
                                <a v-bind:href="'/listings/' + dlListing.id + '/' + dlListing.name">
                                    <div style="width: 242px; height: 200px; white-space: nowrap; text-align: center;">
                                        <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                                        <img v-if="dlListing.attachments==null || dlListing.attachments.length==0" src="../../resources/images/no-image-available.jpg"
                                             th:src="@{/resources/images/no-image-available.jpg}"
                                             alt="No image available"
                                             data-holder-rendered="true"
                                             style="vertical-align: middle; max-width: 242px; max-height: 200px; margin-left: -2px;"/>
                                        <img v-else
                                             v-bind:src="'/content/files' + dlListing.attachments[0].attachmentMetadata.smallImageResizeMeta.detail.file"
                                             data-holder-rendered="true"
                                             style="vertical-align: middle; max-width: 242px; max-height: 200px; margin-left: -2px;"/>
                                    </div>
                                    <div class="caption"><h4>{{dlListing.title}}</h4></div>
                                </a>
                            </div>
                        </div>

                        <!--<div th:each="dlCategory : ${dlCategories}">-->
                            <!--<span th:text="${dlCategory.name}"></span>-->
                            <!--<span th:text="${dlCategory.count}"></span>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../resources/js/default.js"
            th:src="@{/resources/js/default.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            LandingPage.init();
        };
    </script>
</div>
</body>
</html>