<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Forgot password</title>

    <link href="../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>

</head>
<body>
<div th:fragment="content" id="forgotPasswordApp" class="container">
    <h1 class="text-center" th:text="#{page.forgot_password.text_1}"> Forgot password?</h1>
    <h2 class="text-center" th:text="#{page.forgot_password.text_2}"> Please enter your email address, and we will send you
        instructions on how to reset your password.</h2>
    <form method="post" v-on:submit.prevent="onSubmit($event)" style="margin-top: 40px;">
        <div class="form-group row">

            <label class="col-form-label col-sm-2 text-right" for="email" th:text="#{page.contact.form.label.yourEmail}">Your Email </label>
            <div class="col-sm-10">
                <input class="form-control" type="text" v-model="forgotPassword.email"
                       v-on:input="delayTouch($v.forgotPassword.email)"
                       id="email" placeholder="example@email.com"
                       v-bind:class="{ 'is-invalid': $v.forgotPassword.email.$error, 'is-valid': $v.forgotPassword.email.$dirty &amp;&amp; !$v.forgotPassword.email.$invalid }"/>
                <div class="invalid-feedback"
                      v-if="!$v.forgotPassword.email.required &amp;&amp; $v.forgotPassword.email.$dirty"
                      th:text="#{validation.required}">Field is required</div>
                <div class="invalid-feedback"
                      v-if="!$v.forgotPassword.email.email &amp;&amp; $v.forgotPassword.email.$dirty"
                      th:text="#{validation.invalid_email}">Invalid email</div>
            </div>
        </div>
        <div class="form-group row" style="margin-top: 40px;">
            <div class="offset-md-3 col-md-6" style="text-align: center;">
                <button id="sendButton" type="submit" class="btn btn-primary btn-block"
                        data-loading-text="Sending..."
                        th:data-loading-text="#{page.contact.form.button.sending}"
                        th:text="#{page.contact.form.button.send}">Send
                </button>
            </div>
        </div>
    </form>
    <!-- Load current page javascript file -->
    <script src="../../resources/js/forgot-password.js"
            th:src="@{/resources/js/forgot-password.js}"></script>
    <script type="text/javascript">
        window.onload = function () {
            ForgotPassword.init();
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>