<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Listing title</title>

    <link href="../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" id="listingApp" class="container" v-cloak>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-2">
            <a th:if="${showEditButton}" class="btn btn-primary" th:href="'/my-listings/' + ${dlListingDTO.id}">
                <i class="fa fa-pencil-square-o"></i>
                <span class="hidden-xs-down" th:text="#{page.my_listings.label.edit}">Edit</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 th:text="${dlListingDTO.title}"></h2>
                <p th:text="${dlListingDTO.content}"></p>
            </div>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-4">
            <h4 style="text-align: center; margin-top: 0px;" th:if="${!#lists.isEmpty(dlListingDTO.dlCategories)}">
                <span th:text="#{page.listing.label.category}">Category</span> &nbsp;<span th:text="${dlListingDTO.dlCategories[0]}">Work</span>
            </h4>
        </div>
        <div class="col-md-4">
            <h4 style="text-align: center; margin-top: 0px;" th:if="${!#lists.isEmpty(dlListingDTO.dlLocations)}">
                <span th:text="#{page.listing.label.location}">Location</span> &nbsp;<span th:text="${dlListingDTO.dlLocations[0].location}">Orlando, Miami, USA</span>
            </h4>
        </div>
        <div class="col-md-4">
            <h4 style="text-align: center; margin-top: 0px;">
                <span th:text="#{page.listing.label.price}">Price</span>
                <span th:if="${dlListingDTO.price != null}" th:text="${dlListingDTO.price}">200</span>
                <span th:if="${dlListingDTO.price == null}">-</span>
                <span th:if="${dlListingDTO.priceCurrency!=null}" th:text="${dlListingDTO.priceCurrency}">EUR</span>
            </h4>
        </div>
    </div>

    <div class="row" style="margin-bottom: 20px;">
        <div class="col-md-6">

            <div>
                <!-- Default panel contents -->
                <div th:text="#{page.listing.label.details}">Details</div>
                <!-- Table -->
                <table class="table table-striped table-bordered">
                    <tbody>
                    <th:block th:each="dlListingField : ${dlListingDTO.dlListingFields}">
                        <th:block th:if="${dlListingField.dlContentFieldGroup} != null and ${dlListingField.dlContentFieldGroup.slug} == 'details'">
                            <th:block th:if="${dlListingField.type} == 'STRING' or ${dlListingField.type} == 'NUMBER'">
                                <tr th:if="!${#strings.isEmpty(dlListingField.value)}">
                                    <td style="text-align: right; font-size: large;" th:text="${dlListingField.name}"></td>
                                    <td style="font-weight: bold; font-size: large;" th:text="${dlListingField.value}"></td>

                                </tr>
                            </th:block>
                            <th:block th:if="${dlListingField.type} == 'NUMBER_UNIT'">
                                <tr th:if="!${#strings.isEmpty(dlListingField.value)}">
                                    <td style="text-align: right; font-size: large;" th:text="${dlListingField.name}"></td>
                                    <td style="font-weight: bold; font-size: large;" th:text="${dlListingField.value} + ' ' + ${dlListingField.items[0].value}"></td>
                                </tr>
                            </th:block>
                            <th:block th:if="${dlListingField.type} == 'SELECT' or ${dlListingField.type} == 'DEPENDENT_SELECT'">
                                <tr th:if="${!#lists.isEmpty(dlListingField.items)}">
                                    <td style="text-align: right; font-size: large;" th:text="${dlListingField.name}"></td>
                                    <td style="font-weight: bold; font-size: large;" th:text="${dlListingField.items[0].value}" ></td>
                                </tr>
                            </th:block>
                        </th:block>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <th:block th:each="dlListingField : ${dlListingDTO.dlListingFields}">
                <div th:if="${dlListingField.dlContentFieldGroup} != null and ${dlListingField.dlContentFieldGroup.slug} == 'features'">
                    <th:block th:if="${dlListingField.type} == 'CHECKBOX'">
                        <div th:text="#{page.listing.label.features}">Features</div>
                        <div class="container-fluid">
                            <th:block th:each="dlListingFieldItem : ${dlListingField.items}">
                                <h4 style="display: inline-block">
                                    <span class="label label-default" style="margin: 0 5px 0 5px;">
                                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                    [(${dlListingFieldItem.value})]
                                    </span>
                                </h4>
                            </th:block>
                        </div>
                    </th:block>
                </div>
            </th:block>

            <th:block th:each="dlListingField : ${dlListingDTO.dlListingFields}">
                <div th:if="${dlListingField.dlContentFieldGroup} != null and ${dlListingField.dlContentFieldGroup.slug} == 'features'">
                    <th:block th:if="${dlListingField.type} == 'CHECKBOX_GROUP'">
                        <div th:text="#{page.listing.label.features}">Features</div>
                        <th:block th:each="dlListingFieldItemGroup : ${dlListingField.dlListingFieldItemGroups}">
                            <div class="card">
                                <div class="card-header" th:text="${dlListingFieldItemGroup.value}">
                                    Content field item group name
                                </div>
                                <div class="card-body">
                                    <th:block th:each="dlListingFieldItem : ${dlListingFieldItemGroup.dlListingFieldItems}">
                                        <h6 style="display: inline-block">
                                    <span class="label label-default" style="margin: 0 5px 0 5px;">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    [(${dlListingFieldItem.value})]
                                    </span>
                                        </h6>
                                    </th:block>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </th:block>

            <th:block th:each="dlListingField : ${dlListingDTO.dlListingFields}">
                <div th:if="${dlListingField.dlContentFieldGroup} != null and ${dlListingField.dlContentFieldGroup.slug} == 'contact'">
                    <div th:text="#{page.listing.label.contact}">Contact</div>
                    <table class="table table-striped table-bordered">
                        <tbody>
                        <th:block th:each="dlListingField : ${dlListingDTO.dlListingFields}">
                            <tr th:if="${dlListingField.dlContentFieldGroup} != null and ${dlListingField.dlContentFieldGroup.slug} == 'contact'">
                                <td style="text-align: right; font-size: large;" th:text="${dlListingField.name}"></td>
                                <td style="font-weight: bold; font-size: large;" th:if="${dlListingField.type} == 'STRING'" th:text="${dlListingField.value}"></td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </th:block>
            <hr/>
            <b-card no-body>
                <b-tabs card v-model="tabIndex">
                    <b-tab th:title="#{page.listing.label.contact}" title="Contact" >
                        <div class="container-fluid">
                            <h4>
                                <span th:if="${dlListingDTO.contactInfo != null}" th:text="${dlListingDTO.contactInfo}">12345567890</span>
                            </h4>
                            <b-btn style="margin: 0 0 10px 0" class="btn btn-outline-secondary" th:if="${dlListingDTO.contactInfo == null}" v-on:click="tabIndex=1">
                                <span th:text="#{page.listing.label.write_message}">Write a message</span></b-btn>
                        </div>
                    </b-tab>
                    <b-tab th:title="#{page.listing.label.send_message}" title="Send message">
                        <div class="container-fluid" >
                            <div class="form-group row required" v-if="!isAuthenticated" style="margin-top: 20px;">
                                <label class="col-sm-3 col-form-label" for="senderName" th:text="#{page.listing.label.your_name}">Your Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="senderName" id="senderName"
                                           v-model="dlMessage.senderName"
                                           v-bind:class="{ 'is-invalid': $v.dlMessage.senderName.$error, 'is-valid': $v.dlMessage.senderName.$dirty &amp;&amp; !$v.dlMessage.senderName.$invalid }"/>
                                    <div class="invalid-feedback"
                                          v-if="!$v.dlMessage.senderName.required &amp;&amp; $v.dlMessage.senderName.$dirty"
                                          th:text="#{validation.required}">Field is required</div>
                                </div>
                            </div>

                            <div class="form-group row required" v-if="!isAuthenticated">
                                <label class="col-sm-3 col-form-label" for="senderEmail" th:text="#{page.listing.label.your_email}">Your Email</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" name="senderEmail" id="senderEmail"
                                           v-model="dlMessage.senderEmail"
                                           v-bind:class="{ 'is-invalid': $v.dlMessage.senderEmail.$error, 'is-valid': $v.dlMessage.senderEmail.$dirty &amp;&amp; !$v.dlMessage.senderEmail.$invalid }"/>
                                    <div class="invalid-feedback"
                                          v-if="!$v.dlMessage.senderEmail.required &amp;&amp; $v.dlMessage.senderEmail.$dirty"
                                          th:text="#{validation.required}">Field is required</div>
                                    <div class="invalid-feedback" v-if="!$v.dlMessage.senderEmail.email"
                                         th:text="#{validation.invalid_email}">Invalid email</div>
                                    <div class="invalid-feedback"
                                         v-if="!$v.dlMessage.senderEmail.minLength">
                                        <span th:text="#{validation.min}">Min</span>
                                        <span>{{ $v.dlMessage.senderEmail.$params.minLength.min }}</span>
                                        <span th:text="#{validation.letters}">letters</span>.
                                    </div>
                                    <div class="invalid-feedback"
                                         v-if="!$v.dlMessage.senderEmail.maxLength">
                                        <span th:text="#{validation.max}">Max</span>
                                        <span>{{ $v.dlMessage.senderEmail.$params.maxLength.max }}</span>
                                        <span th:text="#{validation.letters}">letters</span>.
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row required">
                                <label class="col-sm-3 col-form-label" for="text" th:text="#{page.listing.label.your_message}">Your Message</label>
                                <div class="col-sm-9">
                                    <textarea rows="4" id="text" type="text" name="text" class="form-control"
                                              v-model="dlMessage.text"
                                              v-bind:class="{ 'is-invalid': $v.dlMessage.text.$error, 'is-valid': $v.dlMessage.text.$dirty &amp;&amp; !$v.dlMessage.text.$invalid }"></textarea>
                                    <div class="invalid-feedback"
                                          v-if="!$v.dlMessage.text.required &amp;&amp; $v.dlMessage.text.$dirty"
                                          th:text="#{validation.required}">Field is required</div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="offset-sm-3 col-sm-9">
                                    <button type="submit" class="btn btn-primary" v-on:click="onSendMessage()">
                                        <i v-if="btnSendMessageLoading" class="fa fa-circle-o-notch fa-spin\"></i>
                                        <i v-if="!btnSendMessageLoading" class="fa fa-paper-plane" aria-hidden="true"></i>
                                        <span th:text="#{page.listing.label.btn_send_message}">Send</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </b-tab>
                </b-tabs>
            </b-card>
        </div>
        <div class="col-md-6">
            <div id="gallery" th:if="${!#lists.isEmpty(dlListingDTO.attachments)}">
                <th:block th:each="attachment,iter : ${dlListingDTO.attachments}">
                    <img th:if="${attachment.smallImage != null}"
                         th:src="'/content/files' + ${attachment.smallImage}"
                         th:data-image="'/content/files' + ${attachment.originalImage}"
                         th:alt="'Image of listing, nbr.' + ${iter.index}"
                         style="display: none;"/>
                </th:block>
            </div>
        </div>
    </div>

    <!-- Load current page javascript file -->
    <script src="../../resources/js/listing.js"
            th:src="@{/resources/js/listing.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            let listingId = [[${listingId}]];
            let isAuthenticated = [[${isAuthenticated}]];
            let jsTranslations = [[${jsTranslations}]];
            Listing.init(listingId, isAuthenticated, jsTranslations);
            $("#gallery").unitegallery();
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>
