<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Listing title</title>

    <link href="../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" id="listingApp" class="container">
    <div class="jumbotron" style="margin-bottom: 5px;">
        <h2 th:text="${dlListingDTO.title}"></h2>
        <p th:text="${dlListingDTO.content}"></p>
    </div>
    <div class="col-md-6">
        <h3 style="text-align: center; margin-top: 0px;" th:if="${!#lists.isEmpty(dlListingDTO.dlCategories)}">
            <span th:text="#{page.listing.label.category}">Category</span> &nbsp;<span class="label label-default" th:text="${dlListingDTO.dlCategories[0].name}">Work</span>
        </h3>
    </div>
    <div class="col-md-6">
        <h3 style="text-align: center; margin-top: 0px;" th:if="${!#lists.isEmpty(dlListingDTO.dlLocations)}">
            <span th:text="#{page.listing.label.location}">Location</span> &nbsp;<span class="label label-default" th:text="${dlListingDTO.dlLocations[0].name}">Orlando, Miami, USA</span>
        </h3>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading" th:text="#{page.listing.label.details}">Details</div>

                <!-- Table -->
                <table class="table table-striped table-bordered">
                    <tbody>
                    <tr th:each="dlListingField : ${dlListingDTO.dlListingFields}">
                        <td style="text-align: right; font-size: large;" th:text="${dlListingField.translatedName}"></td>

                        <td style="font-weight: bold; font-size: large;" th:if="${dlListingField.type} != 'CHECKBOX'"
                              th:text="${dlListingField.translatedValue}"></td>

                        <td style="font-weight: bold; font-size: large;" th:if="${dlListingField.type} == 'CHECKBOX'">
                                <span th:each="dlListingFieldItem : ${dlListingField.dlListingFieldItemDTOs}">
                                    [(${dlListingFieldItem.translatedValue})]
                                </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            <div id="gallery" class="row" th:if="${!#lists.isEmpty(dlListingDTO.attachments)}">
                <th:block th:each="attachment : ${dlListingDTO.attachments}">

                    <img th:if="${attachment.attachmentMetadata.largeImageResizeMeta != null}"
                         th:src="'/content/files' + ${attachment.attachmentMetadata.smallImageResizeMeta.detail.file}"
                         th:data-image="'/content/files' + ${attachment.attachmentMetadata.largeImageResizeMeta.detail.file}"
                         th:alt="${attachment.fileName}"
                         style="display: none;"
                    />
                    <img th:if="${attachment.attachmentMetadata.largeImageResizeMeta == null && attachment.attachmentMetadata.mediumImageResizeMeta != null}"
                         th:src="'/content/files' + ${attachment.attachmentMetadata.smallImageResizeMeta.detail.file}"
                         th:data-image="'/content/files' + ${attachment.attachmentMetadata.mediumImageResizeMeta.detail.file}"
                         th:alt="${attachment.fileName}"
                         style="display: none;"
                    />
                    <img th:if="${attachment.attachmentMetadata.largeImageResizeMeta == null && attachment.attachmentMetadata.mediumImageResizeMeta == null && attachment.attachmentMetadata.smallImageResizeMeta != null}"
                         th:src="'/content/files' + ${attachment.attachmentMetadata.smallImageResizeMeta.detail.file}"
                         th:data-image="'/content/files' + ${attachment.attachmentMetadata.smallImageResizeMeta.detail.file}"
                         th:alt="${attachment.fileName}"
                         style="display: none;"
                    />
                </th:block>
            </div>
        </div>

    </div>

    <!-- Load current page javascript file -->
    <script src="../../resources/js/listing.js"
            th:src="@{/resources/js/listing.js}"></script>
    <script type="text/javascript">
        window.onload = function () {
            Listing.init();
            $("#gallery").unitegallery();
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>