<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title th:text="${title}">test title</title>

        <link href="../../resources/vendor/bootstrap/css/bootstrap.min.css"
              th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
              rel="stylesheet"/>
        <link href="../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
              th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
              rel="stylesheet"/>
    </head>
    <body>
        <div th:fragment="content" id="messageApp" class="container">
            <div class="page-header">
                <h1 th:text="#{page.my_message_preview.title}">My Message Preview</h1>
            </div>

            <div class="container-fluid">
                <tr th:each="dlMessageDTO : ${dlMessagesDTOList}">
                    <div th:if="${dlMessageDTO.receiverId == receiverId}">
                        <div class="row" style="margin-top: 10px;">
                            <div class="col-md-6">
                                <textarea type="text" name="text" class="form-control" readonly="readonly" th:text="${dlMessageDTO.text}"></textarea>
                        </div>
                            </div>
                        </div>
                    <div th:if="${dlMessageDTO.receiverId != receiverId}">
                        <div class="row" style="margin-top: 10px;margin-right: 10px;">
                            <div class="col-md-8 col-md-offset-2">
                                <textarea type="text" name="text" class="form-control" readonly="readonly" th:text="${dlMessageDTO.text}"></textarea>
                            </div>
                        </div>
                    </div>
                </tr>

                <div class="row" style="margin-bottom: 10px;margin-top: 20px;">
                    <label class="col-sm-2 control-label" id="textLabel" for="text" th:text="#{page.my_message_preview.label.sendmessage}">Send Message</label>
                    <div class="col-sm-10">
                        <textarea rows="4" id="text" type="text" name="text" class="form-control" v-model="dlmessage.text"></textarea>
                        <span class="help-block"
                              v-if="!$v.dlmessage.text.required &amp;&amp; $v.dlmessage.text.$dirty"
                              th:text="#{validation.required}">Field is required</span>
                    </div>
                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-xs-10 col-sm-11">
                        <button type="submit" class="btn btn-primary" id="btnSend" th:text="#{page.my_message_preview.label.btn.send}" v-on:click="onSubmit($event)">Send</span>
                            <span>Send</span>
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Load current page javascript file -->
            <script src="../../resources/js/message.js"
                    th:src="@{/resources/js/message.js}"></script>
            <script type="text/javascript" th:inline="javascript">
                window.onload = function () {
                    var dlMessageDTO = [[${dlMessageDTO}]];
                    var jsTranslations = [[${jsTranslations}]];
                    Message.init(dlMessageDTO, jsTranslations);
                };
            </script>

            <div class="pageBottom"/>
        </div>

        <!-- JavaScript libraries used to be able to open the html page itself in browser -->
        <script src="../../resources/vendor/vue/vue.min.js"
                th:src="@{/resources/vendor/vue/vue.min.js}"></script>
        <script src="../../resources/vendor/vuelidate/vuelidate.min.js"
                th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
        <script src="../../resources/vendor/vuelidate/validators.min.js"
                th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
        <script src="../../resources/vendor/vue-resource/vue-resource.min.js"
                th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
        <script src="../../resources/vendor/jquery/jquery-3.2.1.min.js"
                th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
        <script src="../../resources/vendor/bootstrap/js/bootstrap.min.js"
                th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
        <script src="../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
                th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
    </body>
</html>
