<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Contacts</title>

    <link href="../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" id="searchApp" class="container">

    <div class="row">
        <form v-on:submit.prevent="onSearch($event)">
            <div class="col-md-10">
                <input class="form-control" placeholder="Search" th:placeholder="#{page.search.title}"
                       v-model="search"/>
            </div>
            <div class="col-md-2">
                <button id="searchButton" class="btn btn-primary btn-block" th:text="#{page.search.btn_search}"
                        data-loading-text="Searching...">Search
                </button>
            </div>
        </form>
    </div>
    <hr/>
    <div class="row">
        <div v-for="dlListing in dlListings" style="display: none;"
             class="col-sm-6 col-md-4 col-lg-3" v-bind:style="{ display: dlListings.length>0 ? 'unset' : 'none' }">
            <div class="thumbnail">
                <a v-bind:href="'/listings/' + dlListing.id + '/' + dlListing.name">
                    <div style="width: 242px; height: 200px; white-space: nowrap; text-align: center;">
                        <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                        <img v-if="dlListing.attachments.length==0"
                             alt="100x200" data-src="holder.js/100%x200"
                             data-holder-rendered="true"
                             style="height: 200px; width: 100%; display: block;"/>
                        <img v-else
                             v-bind:src="'/content/files' + dlListing.attachments[0].attachmentMetadata.smallImageResizeMeta.detail.file"
                             data-holder-rendered="true"
                             style="vertical-align: middle; max-width: 242px; max-height: 200px; margin-left: -2px;"
                        />
                    </div>
                    <div class="caption"><h4>{{dlListing.title}}</h4></div>
                </a>
            </div>
        </div>
    </div>

    <!-- Load current page javascript file -->
    <script src="../../resources/js/search.js"
            th:src="@{/resources/js/search.js}"></script>
    <script type="text/javascript">
        window.onload = function () {
            Search.init();
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>