<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Contacts</title>

    <link href="../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" id="searchApp" class="container" v-cloak>

    <div class="row">
        <form v-on:submit.prevent="onSearch($event)" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-9">
                    <input class="form-control" placeholder="Search" th:placeholder="#{page.search.title}"
                           v-model="text"/>
                </div>
                <div class="col-md-3">
                    <button id="searchButton" class="btn btn-primary btn-block" th:text="#{page.search.btn_search}"
                            th:attr="data-loading-text='<i class=\'fa fa-circle-o-notch fa-spin\'></i>' + #{page.search.btn_search}">
                        Search
                    </button>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label">Category</label>
                <div class="col-sm-11">
                    <select class="form-control" id="categoriesGrouped" v-model="selectedCategoryId" v-on:change="onCategoryChange($event)">
                        <option value="-1" th:text="#{page.search.label.all}">- All -</option>
                        <th:block th:each="instance : ${dlCategoriesGrouped}">
                            <th:block th:if="${#lists.size(instance.value) > 0}">
                                <optgroup th:label="${instance.key.name}" label="Swedish Cars">
                                    <option th:each="childCategory : ${instance.value}" th:value="${childCategory.id}" th:text="${childCategory.name}"></option>
                                </optgroup>
                            </th:block>
                            <th:block th:if="${#lists.size(instance.value) == 0}">
                                <option th:value="${instance.key.id}" th:text="${instance.key.name}">Audi</option>
                            </th:block>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" th:text="#{page.my_listings.edit_listing.label.country}">Country</label>
                <div class="col-sm-3">
                    <select class="form-control" v-on:change="onCountryChange" v-model="selectedCountryId">
                        <option value="-1" th:text="#{page.search.label.all}">- All -
                        </option>
                        <option v-for="dlLocationCountry in dlLocationCountries"
                                v-bind:value="dlLocationCountry.id">{{ dlLocationCountry.name }}
                        </option>
                    </select>
                </div>

                <label class="col-sm-1 control-label"
                       th:text="#{page.my_listings.edit_listing.label.state}">State</label>
                <div class="col-sm-3">
                    <select class="form-control" v-on:change="onStateChange" v-model="selectedStateId"
                            v-bind:class="{loadinggif: isStateSelectLoading}">
                        <option value="-1" th:text="#{page.search.label.all}">- All -
                        </option>
                        <option v-for="dlLocationState in dlLocationStates" v-bind:value="dlLocationState.id">
                            {{ dlLocationState.name }}
                        </option>
                    </select>
                </div>

                <label class="col-sm-1 control-label"
                       th:text="#{page.my_listings.edit_listing.label.city}">City</label>
                <div class="col-sm-3">
                    <select class="form-control" v-model="selectedCityId"
                            v-bind:class="{loadinggif: isCitySelectLoading}">
                        <option value="-1" th:text="#{page.search.label.all}">- All -
                        </option>
                        <option v-for="dlLocationCity in dlLocationCities" v-bind:value="dlLocationCity.id">{{
                            dlLocationCity.name }}
                        </option>
                    </select>
                </div>
            </div>

        </form>
    </div>

    <div class="row" v-if="selectedCategoryId != '-1'">
        <div class="col-md-12">
            <div class="row" v-for="dlContentField in dlContentFields">
                <div>
                    <span>{{dlContentField.id}}</span>
                    <span>{{dlContentField.name}}</span>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div v-for="dlListing in dlListings" style="display: none;"
             class="col-sm-6 col-md-4 col-lg-3" v-bind:style="{ display: dlListings.length>0 ? 'unset' : 'none' }">
            <div class="thumbnail">
                <a v-bind:href="'/listings/' + dlListing.id + '/' + dlListing.name">
                    <div style="width: 242px; height: 200px; white-space: nowrap; text-align: center;">
                        <span style="display: inline-block; height: 100%; vertical-align: middle;"></span>
                        <img v-if="dlListing.attachments.length==0"
                             alt="100x200" data-src="holder.js/100%x200"
                             data-holder-rendered="true"
                             style="height: 200px; width: 100%; display: block;"/>
                        <img v-else
                             v-bind:src="'/content/files' + dlListing.attachments[0].attachmentMetadata.smallImageResizeMeta.detail.file"
                             data-holder-rendered="true"
                             style="vertical-align: middle; max-width: 242px; max-height: 200px; margin-left: -2px;"
                        />
                    </div>
                    <div class="caption"><h4>{{dlListing.title}}</h4></div>
                </a>
            </div>
        </div>
    </div>

    <!-- Load current page javascript file -->
    <script src="../../resources/js/search.js"
            th:src="@{/resources/js/search.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            var dlLocationCountries = [[${dlLocationCountries}]];
            Search.init(dlLocationCountries);
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>