<div>
    <h2 data-translate="quisListingApp.dlLocation.home.title">DL Locations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dl-locations.new({selectedLanguageCode: vm.selectedLanguageCode, dlLocationParentId: vm.filter.dlLocationParentId})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="quisListingApp.dlLocation.home.createLabel">
                        Create new DL Location
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'quisListingApp.dlLocation.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label class="control-label" data-translate="quisListingApp.dlLocation.parent">Parent</label>
                <div class="input-group">

                    <ui-select allow-clear ng-model="vm.filter.dlLocationParentId" on-select="vm.onSelectCallback($item, $model)"
                               theme="bootstrap">
                        <ui-select-match placeholder="Select or search a location in the list...">
                            {{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices repeat="item.id as item in vm.dlLocationsFilter | filter: $select.search">
                            <span ng-repeat="n in [] | range:item.depthLevel">—</span>
                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>

                    <span class="input-group-btn">
                  <button type="button" ng-click="vm.clearParentLocationFilter()" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </span>

                </div>
            </div>
        </div>
    </div>

    <br/>
    <div class="btn-group">
        <label class="btn btn-primary btn-xs"
               ng-repeat="activeLanguage in vm.activeLanguages track by activeLanguage.code"
               ng-model="vm.selectedLanguageCode"
               uib-btn-radio="activeLanguage.code"
                ng-change="vm.onLanguageChange()">
            {{activeLanguage.englishName}} ({{activeLanguage.count}})
        </label>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span data-translate="quisListingApp.dlLocation.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="slug"><span data-translate="quisListingApp.dlLocation.slug">Slug</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="count"><span data-translate="quisListingApp.dlLocation.count">Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="dlLocation in vm.dlLocationsFlat track by dlLocation.id">
                <td><a ui-sref="dl-location-detail({id:dlLocation.id})">{{dlLocation.id}}</a></td>
                <td><span ng-repeat="n in [] | range:dlLocation.depthLevel">—</span> {{dlLocation.name}}</td>
                <td>{{dlLocation.slug}}</td>
                <td>{{dlLocation.count}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="dl-location-detail({id:dlLocation.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                        <button type="submit"
                                ui-sref="dl-locations.edit({id:dlLocation.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>
                        <button type="submit"
                                ui-sref="dl-locations.delete({id:dlLocation.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>

</div>
