<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myListingLabel" data-translate="quisListingApp.dlListing.home.createOrEditLabel">
            Create or edit a Dl Listing</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div ng-show="!vm.dlListing.id">
            <div class="form-group">
                <label class="control-label" data-translate="quisListingApp.dlListing.title"
                       for="field_initial_title">Title</label>
                <input type="text" class="form-control" name="title" id="field_initial_title"
                       ng-model="vm.dlListing.title"
                />
            </div>
        </div>
        <div ng-show="vm.dlListing.id">
            <uib-tabset active="active">
                <uib-tab index="0" heading="Description">
                    <div class="form-group" ng-show="vm.dlListing.id">
                        <label for="id" data-translate="global.field.id">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               ng-model="vm.dlListing.id" readonly/>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="quisListingApp.dlListing.title"
                               for="field_title">Title</label>
                        <input type="text" class="form-control" name="title" id="field_title"
                               ng-model="vm.dlListing.title"
                        />
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="quisListingApp.dlListing.description"
                               for="field_description">Description</label>
                        <textarea rows="4" type="text" class="form-control" name="description" id="field_description"
                                  ng-model="vm.dlListing.content"
                                  ui-tinymce="tinymceOptions"></textarea>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="Category">
                    <div class="form-group">
                        <label class="control-label"
                               data-translate="quisListingApp.dlListing.categories">Categories</label>
                        <div class="input-group">
                            <ui-select allow-clear ng-model="vm.selectedDlCategoryId"
                                       on-select="vm.onSelectCallback($item, $model)"
                                       theme="bootstrap">
                                <ui-select-match placeholder="Select or search a category in the list...">
                                    {{$select.selected.term.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item.id as item in vm.dlCategories | filter: $select.search">
                                    <span ng-repeat="n in [] | range:item.depthLevel">—</span>
                                    <span ng-bind-html="item.term.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="input-group-btn">
                              <button type="button" ng-click="vm.dlCategoryId = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                              </button>
                            </span>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="Details">
                    <fieldset data-ng-repeat="dlContentField in vm.dlContentFields">
                        <div class="form-group" ng-if="dlContentField.type == 'STRING' ">
                            <label class="control-label">
                                {{dlContentField.name}}</label>
                            <input type="text" class="form-control" ng-model="dlContentField.value"/>
                        </div>
                        <div class="form-group" ng-if="dlContentField.type == 'SELECT' ">
                            <label class="control-label">
                                {{dlContentField.name}}</label>
                            <select class="form-control" ng-model="dlContentField.value">
                                <option ng-repeat="selectionItem in dlContentField.dlContentFieldItems"
                                        value="{{selectionItem.id}}">{{selectionItem.value}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group" ng-if="dlContentField.type == 'CHECKBOX' ">
                            <label class="control-label">
                                {{dlContentField.name}}</label>
                            <div class="checkbox"
                                 ng-repeat="selectionItem in dlContentField.dlContentFieldItems">
                                <label>
                                    <input type="checkbox" value="{{selectionItem.id}}"
                                           ng-model="dlContentField.value[selectionItem.id]">
                                    {{selectionItem.value}}
                                </label>
                            </div>
                        </div>
                        <div class="form-group" ng-if="dlContentField.type == 'NUMBER' ">
                            <label class="control-label">
                                {{dlContentField.name}}</label>
                            <input type="text" class="form-control" ng-model="dlContentField.value"/>
                        </div>
                    </fieldset>
                </uib-tab>
                <uib-tab index="3" heading="Location">
                    <div class="form-group">
                        <label class="control-label" data-translate="quisListingApp.dlListing.location">Location</label>
                        <div class="input-group">

                            <ui-select allow-clear ng-model="vm.selectedDlLocationId"
                                       on-select="vm.onDlLocationSelectCallback($item, $model)"
                                       theme="bootstrap">
                                <ui-select-match placeholder="Select or search a location in the list...">
                                    {{$select.selected.term.name}}
                                </ui-select-match>
                                <ui-select-choices repeat="item.id as item in vm.dlLocations | filter: $select.search">
                                    <span ng-repeat="n in [] | range:item.depthLevel">—</span>
                                    <span ng-bind-html="item.term.name | highlight: $select.search"></span>
                                </ui-select-choices>
                            </ui-select>

                            <span class="input-group-btn">
                              <button type="button" ng-click="vm.dlLocationId = undefined" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"></span>
                              </button>
                            </span>

                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="4" heading="Gallery">
                    <br/>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6 col-md-4 col-lg-3"
                                 data-ng-repeat="attachment in vm.dlListing.attachments">
                                <div class="thumbnail">
                                    <div style="height: 200px; width: 100%; display: block;">
                                        <img ng-src="{{vm.baseUrl}}/content/files{{(attachment.attachmentMetadata.imageResizeMetas | filter : {name:'dl-thumbnail'})[0].detail.file}}"
                                             data-holder-rendered="true"
                                             />
                                    </div>
                                    <p>
                                        <a class="btn btn-danger btn-sm" ng-click="vm.deleteAttachment(attachment.id)">
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ngf-drop ngf-select ng-model="vm.uploadFiles" class="drop-box"
                         ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
                         accept="image/*"
                         ngf-pattern="'image/*'">Drop images here or click to upload
                    </div>
                    <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                </uib-tab>
                <uib-tab index="5" heading="Additional info">
                    <div class="form-group">
                        <label class="control-label" data-translate="quisListingApp.dlListing.expirationDate"
                               for="field_expirationDate">Expiration Date</label>
                        <div class="input-group">
                            <input id="field_expirationDate" type="text" class="form-control" name="expirationDate"
                                   uib-datepicker-popup="{{dateformat}}" ng-model="vm.dlListing.expirationDate"
                                   is-open="vm.datePickerOpenStatus.expirationDate"
                            />
                            <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expirationDate')"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" data-translate="quisListingApp.dlListing.status"
                               for="field_status">Status</label>
                        <input type="text" class="form-control" name="status" id="field_status"
                               ng-model="vm.dlListing.status"
                        />
                    </div>

                    <div class="form-group">
                        <label class="control-label" data-translate="quisListingApp.dlListing.author"
                               for="field_author">Author</label>
                        <input type="text" class="form-control" name="author" id="field_author"
                               ng-model="vm.dlListing.author.login"
                        />
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                    data-translate="entity.action.cancel">Cancel</span>
            </button>
            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
                <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                    data-translate="entity.action.save">Save</span>
            </button>
        </div>
    </div>
</form>
