<div>
    <h2 data-translate="quisListingApp.dlListing.home.title">Dl Listings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="dl-listings.new({selectedLanguageCode: vm.selectedLanguageCode})" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="quisListingApp.dlListing.home.createLabel">
                        Create new Dl Listing
                    </span>
                </button>
            </div>

            <div class="col-xs-4">
                <button class="btn btn-default" ng-click="vm.rebuildElasticsearch()">
                    <span class="glyphicon glyphicon-apple"></span>
                    <span class="hidden-xs-down"  data-translate="quisListingApp.dlListing.home.rebuildElasticsearch">
                        Rebuild elasticsearch
                    </span>
                </button>
                <button class="btn btn-default" ng-click="vm.rebuildImages()">
                    <span class="glyphicon glyphicon-apple"></span>
                    <span class="hidden-xs-down"  data-translate="quisListingApp.dlListing.home.rebuildImages">
                        Rebuild images
                    </span>
                </button>
            </div>

            <div class="col-xs-4 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'quisListingApp.dlListing.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="btn-group">
        <label class="btn btn-primary btn-xs"
               ng-repeat="activeLanguage in vm.activeLanguages track by activeLanguage.code"
               ng-model="vm.selectedLanguageCode"
               uib-btn-radio="activeLanguage.code"
               ng-change="vm.onLanguageChange()">
            {{activeLanguage.englishName}} ({{activeLanguage.count}})
        </label>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="quisListingApp.dlListing.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expirationDate"><span data-translate="quisListingApp.dlListing.expirationDate">Expiration Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="quisListingApp.dlListing.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="quisListingApp.dlListing.approved">Approved</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="author.login"><span data-translate="quisListingApp.dlListing.author">Author</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="views"><span data-translate="quisListingApp.dlListing.views">Views</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="dlListing in vm.dlListings track by dlListing.id">
                    <td><a ui-sref="dl-listing-detail({id:dlListing.id})">{{dlListing.id}}</a></td>
                    <td>{{dlListing.title}}</td>
                    <td>{{dlListing.expirationDate | date:'medium'}}</td>
                    <td>{{dlListing.status}}</td>
                    <td>{{dlListing.approved}}</td>
                    <td>
                        <a ui-sref="author-detail({id:dlListing.author.login})">{{dlListing.author.login}}</a>
                    </td>
                    <td>{{dlListing.views}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="dl-listing-detail({id:dlListing.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dl-listings.approve({id:dlListing.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.approve"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dl-listings.disapprove({id:dlListing.id})"
                                    class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-thumbs-down"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.disapprove"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dl-listings.edit({id:dlListing.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="dl-listings.delete({id:dlListing.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
