<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myListingLabel" data-translate="quisListingApp.dlListing.home.createOrEditLabel">
            Create or edit a Dl Listing</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dlListing.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   ng-model="vm.dlListing.id" readonly/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.dlListing.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                   ng-model="vm.dlListing.title"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.dlListing.status"
                   for="field_status">Status</label>
            <input type="text" class="form-control" name="status" id="field_status"
                   ng-model="vm.dlListing.status"
            />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.dlListing.description" for="field_description">Description</label>
            <textarea rows="4" type="text" class="form-control" name="description" id="field_description"
                      ng-model="vm.dlListing.content"
                      ui-tinymce="tinymceOptions">
            </textarea>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.dlListing.categories" >Categories</label>
            <div class="input-group">

                <ui-select allow-clear ng-model="vm.dlCategoryId" on-select="vm.onSelectCallback($item, $model)" theme="bootstrap">
                    <ui-select-match placeholder="Select or search a category in the list...">{{$select.selected.term.name}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in vm.dlCategories | filter: $select.search">
                        <span ng-repeat="n in [] | range:item.depthLevel">—</span>
                        <span ng-bind-html="item.term.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>

                <span class="input-group-btn">
                  <button type="button" ng-click="vm.dlCategoryId = undefined" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </span>

            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" data-translate="quisListingApp.dlListing.contentFields">Content fields</div>
            <div class="panel-body">
                <fieldset data-ng-repeat="dlContentField in vm.dlContentFields">
                    <div class="form-group" ng-if="dlContentField.type == 'string' " >
                        <label class="control-label" >
                            {{dlContentField.name}}</label>
                        <input type="text" class="form-control" ng-model="dlContentField.value" />
                    </div>
                    <div class="form-group" ng-if="dlContentField.type == 'select' ">
                        <label class="control-label">
                            {{dlContentField.name}}</label>
                        <select class="form-control" ng-model="dlContentField.value">
                            <option ng-repeat="selectionItem in dlContentField.dlContentFieldItems" value="{{selectionItem.id}}">{{selectionItem.value}}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-if="dlContentField.type == 'checkbox' ">
                        <label class="control-label" >
                            {{dlContentField.name}}</label>
                        <div class="checkbox" ng-repeat="selectionItem in dlContentField.dlContentFieldItems" ng-model="dlContentField.value">
                            <label>
                                <input type="checkbox" value="{{selectionItem.id}}">
                                {{selectionItem.value}}
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-if="dlContentField.type == 'number' ">
                        <label class="control-label" >
                            {{dlContentField.name}}</label>
                        <input type="text" class="form-control" ng-model="dlContentField.value" />
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="form-group">

            <div id="fileupload" data-file-upload="vm.fileUploadOptions"
                 data-ng-class="{'fileupload-processing': processing() || loadingFiles}">
                <div class="row fileupload-buttonbar">
                    <div class="col-lg-7">
                        <!-- The fileinput-button span is used to style the file input field as button -->
                        <span class="btn btn-success fileinput-button" ng-class="{disabled: disabled}">
                            <i class="glyphicon glyphicon-plus"></i>
                            <span>Add files...</span>
                            <input type="file" name="files[]" multiple ng-disabled="disabled">
                        </span>
                        <button type="button" class="btn btn-primary start" data-ng-click="submit()">
                            <i class="glyphicon glyphicon-upload"></i>
                            <span>Start upload</span>
                        </button>
                        <button type="button" class="btn btn-warning cancel" data-ng-click="cancel()">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                            <span>Cancel upload</span>
                        </button>
                        <!-- The global file processing state -->
                        <span class="fileupload-process"></span>
                    </div>
                    <!-- The global progress state -->
                    <div class="col-lg-5 fade" data-ng-class="{in: active()}">
                        <!-- The global progress bar -->
                        <div class="progress progress-striped active" data-file-upload-progress="progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                        <!-- The extended global progress state -->
                        <div class="progress-extended">&nbsp;</div>
                    </div>
                </div>
                <!-- The table listing the files available for upload/download -->
                <table class="table table-striped files ng-cloak">
                    <tr data-ng-repeat="file in queue" data-ng-class="{'processing': file.$processing()}">
                        <td data-ng-switch data-on="!!file.thumbnailUrl">
                            <div class="preview" data-ng-switch-when="true">
                                <a data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery><img data-ng-src="{{file.thumbnailUrl}}" alt=""></a>
                            </div>
                            <div class="preview" data-ng-switch-default data-file-upload-preview="file"></div>
                        </td>
                        <td>
                            <p class="name" data-ng-switch data-on="!!file.url">
                                <span data-ng-switch-when="true" data-ng-switch data-on="!!file.thumbnailUrl">
                                    <a data-ng-switch-when="true" data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}" data-gallery>{{file.name}}</a>
                                    <a data-ng-switch-default data-ng-href="{{file.url}}" title="{{file.name}}" download="{{file.name}}">{{file.name}}</a>
                                </span>
                                <span data-ng-switch-default>{{file.name}}</span>
                            </p>
                            <strong data-ng-show="file.error" class="error text-danger">{{file.error}}</strong>
                        </td>
                        <td>
                            <p class="size">{{file.size | formatFileSize}}</p>
                            <div class="progress progress-striped active fade" data-ng-class="{pending: 'in'}[file.$state()]" data-file-upload-progress="file.$progress()"><div class="progress-bar progress-bar-success" data-ng-style="{width: num + '%'}"></div></div>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary start" data-ng-click="file.$submit()" data-ng-hide="!file.$submit || options.autoUpload" data-ng-disabled="file.$state() == 'pending' || file.$state() == 'rejected'">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start</span>
                            </button>
                            <button type="button" class="btn btn-warning cancel" data-ng-click="file.$cancel()" data-ng-hide="!file.$cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel</span>
                            </button>
                            <button data-ng-controller="FileDestroyController" type="button" class="btn btn-danger destroy" data-ng-click="file.$destroy()" data-ng-hide="!file.$destroy">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.dlListing.location">Location</label>
            <div class="input-group">

                <ui-select allow-clear ng-model="vm.dlLocationId" on-select="vm.onSelectCallback($item, $model)" theme="bootstrap">
                    <ui-select-match placeholder="Select or search a location in the list...">{{$select.selected.term.name}}</ui-select-match>
                    <ui-select-choices repeat="item.id as item in vm.dlLocations | filter: $select.search">
                        <span ng-repeat="n in [] | range:item.depthLevel">—</span>
                        <span ng-bind-html="item.term.name | highlight: $select.search"></span>
                    </ui-select-choices>
                </ui-select>

                <span class="input-group-btn">
                  <button type="button" ng-click="vm.dlLocationId = undefined" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </span>

            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.dlListing.expirationDate"
                   for="field_expirationDate">Expiration Date</label>
            <div class="input-group">
                <input id="field_expirationDate" type="text" class="form-control" name="expirationDate"
                       uib-datepicker-popup="{{dateformat}}" ng-model="vm.dlListing.expirationDate"
                       is-open="vm.datePickerOpenStatus.expirationDate"
                />
                <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expirationDate')"><i
                                class="glyphicon glyphicon-calendar"></i></button>
                    </span>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label" data-translate="quisListingApp.dlListing.author"
                   for="field_author">Author</label>
            <input type="text" class="form-control" name="author" id="field_author"
                   ng-model="vm.dlListing.author.login"
            />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
