<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>


<div th:fragment="components">


    <!-- Load current page javascript file -->
    <script type="text/x-template" id="item-template">
        <div class="panel-group" v-bind:id="getPanelId" role="tablist" aria-multiselectable="true"
             style="margin-bottom: 5px;">
            <div class="panel panel-default">
                <div role="tab" v-bind:id="getHeadingId">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" v-bind:data-parent="getPanelIdWithHashTag"
                           v-bind:href="getBodyIdWithHashTag" aria-expanded="false" v-bind:aria-controls="getBodyId"
                           v-bind:class="{ 'category-red': isFolder, 'category-green': !isFolder, 'active': model.active }"
                           v-on:click="selectCategory"
                           class="list-group-item">
                            {{model.name}}
                        </a>
                    </h4>
                </div>
                <div v-if="isFolder">
                    <div v-bind:id="getBodyId" class="panel-collapse collapse" role="tabpanel"
                         v-bind:aria-labelledby="getHeadingId">
                        <div class="panel-body">

                            <item
                                    class="item"
                                    v-for="model in model.children"
                                    :model="model">
                            </item>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>
</div>
</body>
</html>