<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Forgot password</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>

</head>
<body>
<div th:fragment="content" class="container">
    <div id="editListingApp" v-cloak>
        <div class="row justify-content-between mb-3">
            <div class="col-6">
                <b-btn id="btnSettings"
                       variant="light"
                       ref="button">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </b-btn>
                <b-popover target="btnSettings"
                           triggers="focus"
                           placement="rightbottom"
                           ref="popover">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-light btn-block text-left btn-save-as-draft"
                                    v-on:click="onSaveAsDraft"
                                    v-bind:disabled="listing.status=='DRAFT'"
                                    th:attr="data-loading-text='<i class=\'fa fa-circle-o-notch fa-spin\'></i>' + #{page.my_listings.edit_listing.btn_save_as_draft}">
                                <i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;<span
                                    th:text="#{page.my_listings.edit_listing.btn_save_as_draft}">Save as draft</span>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 ">
                            <a class="btn btn-light btn-block text-left" v-on:click="confirmDeleteListing()">
                                <i class="fa fa-times-circle-o"></i>
                                <span class="hidden-xs-down" th:text="#{page.my_listings.label.delete}">Delete</span>
                            </a>
                        </div>
                    </div>
                </b-popover>
            </div>
            <div class="col-6 text-right">
                <a id="previewLink" target="_blank" class="btn btn-outline-secondary"
                   th:href="@{/my-listings/{id}/preview(id=${dlListingDTO.id})}">
                    <i class="fa fa-eye"></i>&nbsp;<span
                        th:text="#{page.my_listings.edit_listing.btn_preview}">Preview</span>
                </a>
                <button type="button" class="btn btn-primary"
                        id="btnPublish"
                        v-on:click="onPublish"
                        v-bind:disabled="listing.status=='PUBLISHED'"
                        th:attr="data-loading-text='<i class=\'fa fa-circle-o-notch fa-spin\'></i> ' + #{page.my_listings.edit_listing.btn_publish}">
                    <i v-if="btnPublishLoading" class="fa fa-circle-o-notch fa-spin"></i>
                    <i v-if="!btnPublishLoading" class="fa fa-globe" aria-hidden="true"></i>&nbsp;
                    <span v-if="listing.status != 'PUBLISHED'" th:text="#{page.my_listings.edit_listing.btn_publish}">Publish</span>
                    <span v-if="listing.status == 'PUBLISHED'" th:text="#{page.my_listings.edit_listing.btn_published}">Published</span>
                </button>
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10 edit-icon">
                        <div class="f1-step-icon"><i class="fa fa-address-card-o"></i></div>
                        <span th:text="#{page.my_listings.edit_listing.label.description}">Description</span>
                    </div>
                    <div class="col-sm-2 text-right">
                        <b-btn class="btn btn-secondary"
                                v-bind:class="editParts[0].open ? 'collapsed' : null"
                                aria-controls="description-card-body"
                            v-bind:aria-expanded="editParts[0].open ? 'true' : 'false'"
                            v-on:click="openEdit(editParts[0])">
                            <i class="fa fa-pencil-square-o"></i>
                            <span v-if="!editParts[0].open" th:text="#{page.my_listings.edit_listing.btn_edit}">Edit</span>
                            <span v-if="editParts[0].open" th:text="#{page.my_listings.edit_listing.btn_cancel}">Cancel</span>
                        </b-btn>
                    </div>
                </div>
            </div>
            <b-collapse id="description-card-body" class="card-body" v-model="editParts[0].open">
                <div th:replace="client/fragments/indicate-required-fields :: indicate-required-fields"></div>
                <listing-description-component ref="listingDescriptionComponent" v-bind:listing="listing"></listing-description-component>
                <listing-category-component ref="listingCategoryComponent" v-bind:listing="listing"></listing-category-component>
                <listing-price-component ref="listingPriceComponent" v-bind:listing="listing"></listing-price-component>
                <listing-contact-component ref="listingContactComponent" v-bind:listing="listing"></listing-contact-component>
                <div class="form-group row justify-content-end">
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-primary"
                                id="btnSaveDescription"
                                v-on:click="onSaveDescription">
                            <i v-if="editParts[0].btnSaveLoading" class="fa fa-circle-o-notch fa-spin\"></i>
                            <i v-if="!editParts[0].btnSaveLoading" class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;<span th:text="#{page.my_listings.edit_listing.btn_save}">Save</span>
                        </button>
                    </div>
                </div>
            </b-collapse>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10 edit-icon">
                        <div class="f1-step-icon"><i class="fa fa-list"></i></div>
                        <span th:text="#{page.my_listings.edit_listing.label.details}">Details</span>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-secondary"
                                v-bind:class="editParts[1].open ? 'collapsed' : null"
                                aria-controls="details-card-body"
                                v-bind:aria-expanded="editParts[1].open ? 'true' : 'false'"
                                v-on:click="openEdit(editParts[1])">
                            <i class="fa fa-pencil-square-o"></i>
                            <span v-if="!editParts[1].open" th:text="#{page.my_listings.edit_listing.btn_edit}">Edit</span>
                            <span v-if="editParts[1].open" th:text="#{page.my_listings.edit_listing.btn_cancel}">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
            <b-collapse id="details-card-body" class="card-body" v-model="editParts[1].open">
                <div th:replace="client/fragments/indicate-required-fields :: indicate-required-fields"></div>
                <listing-details-component ref="listingDetailsComponent" v-bind:dl-content-fields="dlContentFields"></listing-details-component>
                <div class="form-group row justify-content-end">
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-primary"
                                id="btnSaveDetails"
                                v-on:click="onSaveDetails">
                            <i v-if="editParts[1].btnSaveLoading" class="fa fa-circle-o-notch fa-spin\"></i>
                            <i v-if="!editParts[1].btnSaveLoading" class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;<span th:text="#{page.my_listings.edit_listing.btn_save}">Save</span>
                        </button>
                    </div>
                </div>
            </b-collapse>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10 edit-icon">
                        <div class="f1-step-icon"><i class="fa fa-map-marker"></i></div>
                        <span th:text="#{page.my_listings.edit_listing.label.location}">Location</span>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-secondary"
                                v-bind:class="editParts[2].open ? 'collapsed' : null"
                                aria-controls="location-card-body"
                                v-bind:aria-expanded="editParts[2].open ? 'true' : 'false'"
                                v-on:click="openEdit(editParts[2])">
                            <i class="fa fa-pencil-square-o"></i>
                            <span v-if="!editParts[2].open" th:text="#{page.my_listings.edit_listing.btn_edit}">Edit</span>
                            <span v-if="editParts[2].open" th:text="#{page.my_listings.edit_listing.btn_cancel}">Cancel</span>
                        </button>
                    </div>
                </div>
            </div>
            <b-collapse id="location-card-body" class="card-body" v-model="editParts[2].open">
                <div id="location" class="container-fluid">
                    <div th:replace="client/fragments/indicate-required-fields :: indicate-required-fields"></div>
                    <listing-location-component ref="listingLocationComponent" v-bind:listing="listing"></listing-location-component>
                    <div class="form-group row justify-content-end">
                        <div class="col-sm-2 text-right">
                            <button type="button" class="btn btn-primary"
                                    id="btnSaveLocation"
                                    v-on:click="onSaveLocation"
                                    th:attr="data-loading-text='<i class=\'fa fa-circle-o-notch fa-spin\'></i>' + #{page.my_listings.edit_listing.btn_save}">
                                <i v-if="editParts[2].btnSaveLoading" class="fa fa-circle-o-notch fa-spin\"></i>
                                <i v-if="!editParts[2].btnSaveLoading" class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;<span th:text="#{page.my_listings.edit_listing.btn_save}">Save</span>
                            </button>
                        </div>
                    </div>
                </div>
            </b-collapse>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10 edit-icon">
                        <div class="f1-step-icon"><i class="fa fa-picture-o"></i></div>
                        <span th:text="#{page.my_listings.edit_listing.label.gallery}">Gallery</span>
                    </div>
                    <div class="col-sm-2 text-right">
                        <button type="button" class="btn btn-secondary"
                                v-bind:class="editParts[3].open ? 'collapsed' : null"
                                aria-controls="gallery-card-body"
                                v-bind:aria-expanded="editParts[3].open ? 'true' : 'false'"
                                v-on:click="openEdit(editParts[3])">
                            <i class="fa fa-pencil-square-o"></i>
                            <span v-if="!editParts[3].open" th:text="#{page.my_listings.edit_listing.btn_edit}">Edit</span>
                            <span v-if="editParts[3].open" th:text="#{page.my_listings.edit_listing.btn_close}">Close</span>
                        </button>
                    </div>
                </div>
            </div>
            <b-collapse id="gallery-card-body" class="card-body" v-model="editParts[3].open">
                <listing-attachment-component ref="listingAttachmentComponent" v-bind:listing="listing"></listing-attachment-component>
            </b-collapse>
        </div>

        <div id="save-warning-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalWindow">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title"><i class="fa fa-warning"></i> <span th:text="#{page.edit_listings.label.confirm_saving}">Confirm saving</span></h4>
                        <div class="modal-body">
                            <p th:utext="#{page.edit_listings.label.confirm_saving_msg}">
                                Saving of the listing will make it in <b>draft</b> state and will become <b>unpublished</b>
                            </p>
                            <p th:utext="#{page.edit_listings.label.confirm_saving_msg_two}">
                                You will have to make publish request again by clicking on the <b>Publish</b> button
                            </p>
                        </div>
                    </div>

                    <!--<div class="modal-body"><slot></slot></div>-->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="callbackSave"
                                th:text="#{page.my_listings.label.yes}">Yes</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal"
                                th:text="#{page.my_listings.label.no}">No</button>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="client/my-listings/confirm-delete-listing-modal :: confirm-delete-listing-modal"></div>
    </div>

    <div th:replace="client/my-listings/components/category-item-component :: category-item-component"></div>
    <div th:replace="client/my-listings/components/listing-category-component :: listing-category-component"></div>
    <div th:replace="client/my-listings/components/listing-description-component :: listing-description-component"></div>
    <div th:replace="client/my-listings/components/listing-price-component :: listing-price-component"></div>
    <div th:replace="client/my-listings/components/listing-contact-component :: listing-contact-component"></div>
    <div th:replace="client/my-listings/components/listing-details-component :: listing-details-component"></div>
    <div th:replace="client/my-listings/components/listing-location-component :: listing-location-component"></div>
    <div th:replace="client/my-listings/components/listing-attachment-component :: listing-attachment-component"></div>

    <!-- Load current page javascript file -->
    <script src="../../../resources/js/my-listings/components/util.js"
            th:src="@{/resources/js/my-listings/components/util.js}"></script>
    <script src="../../../resources/js/my-listings/components/my-listing-service.js"
            th:src="@{/resources/js/my-listings/components/my-listing-service.js}"></script>
    <script src="../../../resources/js/my-listings/edit-listing.js"
            th:src="@{/resources/js/my-listings/edit-listing.js}"></script>
    <script src="../../../resources/js/my-listings/components/category-item-component.js"
            th:src="@{/resources/js/my-listings/components/category-item-component.js}"></script>
    <script src="../../../resources/js/my-listings/components/listing-category-component.js"
            th:src="@{/resources/js/my-listings/components/listing-category-component.js}"></script>
    <script src="../../../resources/js/my-listings/components/listing-price-component.js"
            th:src="@{/resources/js/my-listings/components/listing-price-component.js}"></script>
    <script src="../../../resources/js/my-listings/components/listing-contact-component.js"
            th:src="@{/resources/js/my-listings/components/listing-contact-component.js}"></script>
    <script src="../../../resources/js/my-listings/components/listing-description-component.js"
            th:src="@{/resources/js/my-listings/components/listing-description-component.js}"></script>
    <script src="../../../resources/js/my-listings/components/listing-details-component.js"
            th:src="@{/resources/js/my-listings/components/listing-details-component.js}"></script>
    <script src="../../../resources/js/my-listings/components/listing-location-component.js"
            th:src="@{/resources/js/my-listings/components/listing-location-component.js}"></script>
    <script src="../../../resources/js/my-listings/components/listing-attachment-component.js"
            th:src="@{/resources/js/my-listings/components/listing-attachment-component.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            let dlListingDTO = [[${dlListingDTO}]];
            let dlCategoriesDtoFlat = [[${dlCategoriesDtoFlat}]];
            let dlContentFieldsDto = [[${dlContentFieldsDto}]];
            let dlLocationCountries = [[${dlLocationCountries}]];
            let dlLocationStates = [[${dlLocationStates}]];
            let dlLocationCities = [[${dlLocationCities}]];
            let jsTranslations = [[${baseModel.jsTranslations}]];
            CategoryItemComponent.init();
            ListingCategoryComponent.init(dlCategoriesDtoFlat);
            ListingDescriptionComponent.init();
            ListingDetailsComponent.init();
            ListingLocationComponent.init(dlListingDTO, dlLocationCountries, dlLocationStates, dlLocationCities);
            ListingAttachmentComponent.init(jsTranslations);
            ListingPriceComponent.init();
            ListingContactComponent.init();
            EditListing.init(dlListingDTO, dlContentFieldsDto, jsTranslations);
        };
    </script>

</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>