<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">My Listings</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/css/styles.css"
          th:href="@{/resources/css/styles.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" class="container">
    <div id="myListingsApp" v-cloak>
        <h4 th:text="#{page.my_listings.title}">My Listings</h4>
        <div class="row">
            <div class="col-xs-4">
                <a class="btn btn-primary" th:href="'/my-listings/add-listing-step-1'">
                    <i class="fa fa-plus"></i>
                    <span class="hidden-xs-down" th:text="#{page.my_listings.add_listing}">Create new Listing</span>
                </a>
            </div>
        </div>
        <div class="row" style="margin-top: 10px;">
            <table class="table table-hover" v-bind:class="{loading: isLoading}">
                <thead class="thead-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col" th:text="#{page.my_listings.label.title}">Title</th>
                    <th scope="col" th:text="#{page.my_listings.label.status}">Status</th>
                    <th scope="col" th:text="#{page.my_listings.label.action}">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(dlListing, index) in dlListings">
                    <th scope="row">
                        <div class="media">
                            <img v-if="dlListing.featuredAttachment==null" src="../../../resources/images/no-image-available.jpg"
                                 th:src="@{/resources/images/no-image-available.jpg}"
                                 alt="No image available"
                                 data-holder-rendered="true" width="75" height="50"/>
                            <img v-else
                                 v-bind:src="'/content/files' + dlListing.featuredAttachment.smallImage"
                                 data-holder-rendered="true" width="75" height="50"/>
                        </div>
                    </th>
                    <td class="align-middle">
                        <a class="btn btn-link" v-bind:href="'/my-listings/' + dlListing.id">
                            {{dlListing.title}}
                        </a>
                    </td>
                    <td class="align-middle">
                        <span v-if="dlListing.status==='DRAFT'" th:text="#{page.my_listings.label.draft}"></span>
                        <span v-if="dlListing.status==='PUBLISH_REQUEST'"
                              th:text="#{page.my_listings.label.publish_requested}"></span>
                        <span v-if="dlListing.status==='PUBLISH_DISAPPROVED'"
                              th:text="#{page.my_listings.label.publish_disapproved}"></span>
                        <span v-if="dlListing.status==='PUBLISHED'"
                              th:text="#{page.my_listings.label.published}"></span>
                        <span v-if="dlListing.status==='PUBLISH_EXPIRED'"
                              th:text="#{page.my_listings.label.publish_expired}"></span>
                        <div><span th:text="#{page.my_listings.label.last_modified_on}">Last modified on</span> {{dlListing.modified | fullTime}}</div>
                    </td>
                    <td class="align-middle">
                        <b-btn v-bind:id="'btnSettings' + index"
                                variant="light" ref="button">
                            <i class="fa fa-cog" aria-hidden="true"></i>
                        </b-btn>
                        <b-popover v-bind:target="'btnSettings' + index"
                                   triggers="focus"
                                   placement="left"
                                   ref="popover">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-light btn-block text-left" target="_blank"
                                       v-bind:href="'/my-listings/' + dlListing.id + '/preview'">
                                        <i class="fa fa-eye"></i>
                                        <span class="hidden-xs-down" th:text="#{page.my_listings.label.preview}">Preview</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-light btn-block text-left" v-bind:href="'/my-listings/' + dlListing.id">
                                        <i class="fa fa-pencil-square-o"></i>
                                        <span class="hidden-xs-down" th:text="#{page.my_listings.label.edit}">Edit</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <a class="btn btn-light btn-block text-left" v-on:click="confirmDeleteListing(dlListing)">
                                        <i class="fa fa-times-circle-o"></i>
                                        <span class="hidden-xs-down" th:text="#{page.my_listings.label.delete}">Delete</span>
                                    </a>
                                </div>
                            </div>
                        </b-popover>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="col-md-12">
                <p class="text-center">
                    <span th:text="#{page.my_listings.label.showing}">Showing</span> {{((pagingParams.page - 1) *
                    pagingParams.itemsPerPage) == 0 ? 1 : ((pagingParams.page - 1) * pagingParams.itemsPerPage + 1)}} -
                    {{(pagingParams.page * pagingParams.itemsPerPage) < pagingParams.info.queryCount ?
                    (pagingParams.page * pagingParams.itemsPerPage) : pagingParams.info.queryCount}}
                    <span th:text="#{page.my_listings.label.of}">of</span> {{pagingParams.info.queryCount}} <span
                        th:text="#{page.my_listings.label.items}">items</span>.
                </p>
            </div>
            <nav aria-label="Page navigation" class="col-md-12">
                <ul class="pagination justify-content-center">
                    <li class="page-item" v-if="pagination.boundaryLinks" v-bind:class="{disabled: noPrevious()}">
                        <a class="page-link" href v-on:click="selectPage(1, $event)"
                           v-bind:disabled="noPrevious()||'disabled'"
                           th:text="#{page.my_listings.label.first}">First</a></li>
                    <li class="page-item" v-if="pagination.directionLinks" v-bind:class="{disabled: noPrevious()}">
                        <a class="page-link" href v-on:click="selectPage(pagingParams.page - 1, $event)"
                           v-bind:disabled="noPrevious()"
                           th:text="#{page.my_listings.label.previous}">Previous</a></li>
                    <li class="page-item" v-for="page in pages" v-bind:class="{active: page.active}">
                        <a class="page-link" href v-on:click="selectPage(page.number, $event)"
                           v-bind:disabled="page.active">{{page.text}}</a></li>
                    <li class="page-item" v-if="pagination.directionLinks" v-bind:class="{disabled: noNext()}">
                        <a class="page-link" href v-on:click="selectPage(pagingParams.page + 1, $event)"
                           v-bind:disabled="noNext()" th:text="#{page.my_listings.label.next}">Next</a>
                    </li>
                    <li class="page-item" v-if="pagination.boundaryLinks" v-bind:class="{disabled: noNext()}">
                        <a class="page-link" href v-on:click="selectPage(pagingParams.info.totalPages, $event)"
                           v-bind:disabled="noNext()||'disabled'"
                           th:text="#{page.my_listings.label.last}">Last</a></li>
                </ul>
            </nav>
        </div>

        <div th:replace="client/my-listings/confirm-delete-listing-modal :: confirm-delete-listing-modal"></div>
    </div>

    <script src="../../../resources/js/my-listings/my-listings.js"
            th:src="@{/resources/js/my-listings/my-listings.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            var jsTranslations = [[${baseModel.jsTranslations}]];
            MyListings.init(jsTranslations);
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>

</body>
</html>