<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml"
      xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">My Listings</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/css/styles.css"
          th:href="@{/resources/css/styles.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" class="container">
    <div id="myListingsApp" >
        <div class="page-header">
            <h1 th:text="#{page.my_listings.title}">My Listings</h1>
        </div>

        <table class="table table-hover" v-bind:class="{loading: isLoading}" v-cloak>
            <thead>
            <tr>
                <th>#</th>
                <th th:text="#{page.my_listings.label.title}">Title</th>
                <th th:text="#{page.my_listings.label.status}">Status</th>
                <th th:text="#{page.my_listings.label.approved}">Approved</th>
                <th th:text="#{page.my_listings.label.validity}">Validity</th>
                <th th:text="#{page.my_listings.label.action}">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="dlListing in dlListings">
                <th scope="row">{{dlListing.id}}</th>
                <td>{{dlListing.title}}</td>
                <td>
                    <span v-if="dlListing.status==='DRAFT'" th:text="#{page.my_listings.label.draft}"></span>
                    <span v-if="dlListing.status==='PUBLISHED'" th:text="#{page.my_listings.label.published}"></span>
                </td>
                <td>
                    <span v-if="dlListing.approved" th:text="#{page.my_listings.label.approved}"></span>
                    <span v-if="!dlListing.approved && dlListing.status==='PUBLISHED'"
                          th:text="#{page.my_listings.label.pending}"></span>
                    <span v-if="!dlListing.approved && dlListing.status==='DRAFT'"
                          th:text="#{page.my_listings.label.not_publishhed}"></span>
                </td>
                <td>
                    <span>Last modified on {{dlListing.modified | fullTime}}</span>
                </td>
                <td>
                    <a class="btn btn-success btn-sm" target="_blank" v-bind:href="'/my-listings/' + dlListing.id + '/preview'"
                       th:text="#{page.my_listings.label.preview}">Preview</a>
                    <a class="btn btn-warning btn-sm" v-bind:href="'/my-listings/' + dlListing.id"
                       th:text="#{page.my_listings.label.edit}">Edit</a>
                    <a class="btn btn-danger btn-sm" v-on:click="confirmDeleteListing(dlListing)"
                       th:text="#{page.my_listings.label.delete}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="text-center" v-cloak>
            <div class="info">
                <span th:text="#{page.my_listings.label.showing}">Showing</span> {{((pagingParams.page - 1) * pagingParams.itemsPerPage) == 0 ? 1 : ((pagingParams.page - 1) * pagingParams.itemsPerPage + 1)}} -
                {{(pagingParams.page * pagingParams.itemsPerPage) < pagingParams.info.queryCount ? (pagingParams.page * pagingParams.itemsPerPage) : pagingParams.info.queryCount}}
                <span th:text="#{page.my_listings.label.of}">of</span> {{pagingParams.info.queryCount}} <span th:text="#{page.my_listings.label.items}">items</span>.
            </div>

            <ul class="pagination">
                <li role="menuitem" v-if="pagination.boundaryLinks" v-bind:class="{disabled: noPrevious()}" class="pagination-first"><a href v-on:click="selectPage(1, $event)" v-bind:disabled="noPrevious()||'disabled'" th:text="#{page.my_listings.label.first}">First</a></li>
                <li role="menuitem" v-if="pagination.directionLinks" v-bind:class="{disabled: noPrevious()}" class="pagination-prev"><a href v-on:click="selectPage(pagingParams.page - 1, $event)" v-bind:disabled="noPrevious()" th:text="#{page.my_listings.label.previous}">Previous</a></li>
                <li role="menuitem" v-for="page in pages" v-bind:class="{active: page.active}" class="pagination-page"><a href v-on:click="selectPage(page.number, $event)" v-bind:disabled="page.active" >{{page.text}}</a></li>
                <li role="menuitem" v-if="pagination.directionLinks" v-bind:class="{disabled: noNext()}" class="pagination-next"><a href v-on:click="selectPage(pagingParams.page + 1, $event)" v-bind:disabled="noNext()" th:text="#{page.my_listings.label.next}">Next</a></li>
                <li role="menuitem" v-if="pagination.boundaryLinks" v-bind:class="{disabled: noNext()}" class="pagination-last"><a href v-on:click="selectPage(pagingParams.info.totalPages, $event)" v-bind:disabled="noNext()||'disabled'" th:text="#{page.my_listings.label.last}">Last</a></li>
            </ul>
        </div>

        <div id="my-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalWindow">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title"><i class="fa fa-warning"></i> <span th:text="#{page.my_listings.label.delete}">Delete</span></h4>
                    </div>

                    <!--<div class="modal-body"><slot></slot></div>-->

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" v-on:click="deleteListing"
                                th:text="#{page.my_listings.label.yes}">Yes</button>
                        <button type="button" class="btn btn-default"  data-dismiss="modal"
                                th:text="#{page.my_listings.label.no}">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../../../resources/js/my-listings/my-listings.js"
            th:src="@{/resources/js/my-listings/my-listings.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            MyListings.init();
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>

</body>
</html>