<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">My Listings</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/css/styles.css"
          th:href="@{/resources/css/styles.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" class="container">
    <div id="myListingsApp">
        <div class="page-header">
            <h1 th:text="#{page.my_listings.title}">My Listings</h1>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Status</th>
                <th>Approved</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="dlListing in dlListings">
                <td>{{dlListing.id}}</td>
                <td>{{dlListing.title}}</td>
                <td>{{dlListing.status}}</td>
                <td>{{dlListing.approved}}</td>
                <td>
                    <a v-bind:href="'/my-listings/edit/' + dlListing.id">Preview</a>
                    <a v-bind:href="'/my-listings/edit/' + dlListing.id">Edit</a>
                    <a v-bind:href="'/my-listings/' + dlListing.id">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <script src="../../../resources/js/my-listings/my-listings.js"
            th:src="@{/resources/js/my-listings/my-listings.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        window.onload = function () {
            MyListings.init();
        };
    </script>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>

</body>
</html>