<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Reset your password</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" id="passwordResetFinishApp" class="container">
    <div class="text-center">
        <div class="alert alert-success" role="alert">
            <h1 th:text="#{page.my_listings.publish_successful.msg_01}">Your listing has been successfully added for publishing.</h1>
        </div>
        <div class="alert alert-info" role="alert">
            <h2>
                <span th:text="#{page.my_listings.publish_successful.msg_02}">Once is reviewed by our team we will make it public.</span>
                <br />
                <span th:text="#{page.my_listings.publish_successful.msg_03}">You will be notified by email</span>
            </h2>
        </div>
        <h2>
            <a href="/" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-home"></span>
                <span th:text="#{page.page_not_found.button.take_me_home}"> Take Me Home</span>
            </a>
            <a href="/my-listings" class="btn btn-primary btn-lg">
                <span class="glyphicon glyphicon-th-list"></span>
                <span th:text="#{page.my_listings.label.my_listings}"> My Listings</span>
            </a>
        </h2>
    </div>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>