<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title th:text="${title}">Reset your password</title>

    <link href="../../../resources/vendor/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet"/>
    <link href="../../../resources/vendor/bootstrap/css/bootstrap-theme.min.css"
          th:href="@{/resources/vendor/bootstrap/css/bootstrap-theme.min.css}"
          rel="stylesheet"/>
</head>
<body>
<div th:fragment="content" id="passwordResetFinishApp" class="container">
    <div class="text-center">
        <div class="alert alert-success" role="alert">
            <h3 style="margin-top: 0; margin-bottom: 0;" th:text="#{page.my_listings.publish_successful.msg_01}">Your listing has been successfully published</h3>
        </div>

        <div class="card" style="display: inline-block;">
            <a th:href="'/listings/' + ${dlListing.id} + '/' + ${dlListing.name}">
                <img th:if="${dlListing.attachments==null} or ${#lists.size(dlListing.attachments) == 0}" src="../../resources/images/no-image-available.jpg"
                     th:src="@{/resources/images/no-image-available.jpg}"
                     alt="No image available"
                     data-holder-rendered="true"/>
                <img th:if="${dlListing.attachments!=null} and ${#lists.size(dlListing.attachments) > 0}"
                     th:src="'/content/files' + ${dlListing.attachments[0].attachmentMetadata.smallImageResizeMeta.detail.file}"
                     data-holder-rendered="true" />
                <div class="card-body">
                    <h6 class="card-link" th:text="${dlListing.title}">Card title</h6>
                </div>
            </a>
        </div>

        <h2>
            <a href="/" class="btn btn-secondary">
                <i class="fa fa-home" aria-hidden="true"></i>
                <span th:text="#{page.page_not_found.button.take_me_home}"> Take Me Home</span>
            </a>
            <a href="/my-listings" class="btn btn-secondary">
                <i class="fa fa-list" aria-hidden="true"></i>
                <span th:text="#{page.my_listings.label.my_listings}"> My Listings</span>
            </a>
        </h2>
    </div>
</div>

<!-- JavaScript libraries used to be able to open the html page itself in browser -->
<script src="../../../resources/vendor/vue/vue.min.js"
        th:src="@{/resources/vendor/vue/vue.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/vuelidate.min.js"
        th:src="@{/resources/vendor/vuelidate/vuelidate.min.js}"></script>
<script src="../../../resources/vendor/vuelidate/validators.min.js"
        th:src="@{/resources/vendor/vuelidate/validators.min.js}"></script>
<script src="../../../resources/vendor/vue-resource/vue-resource.min.js"
        th:src="@{/resources/vendor/vue-resource/vue-resource.min.js}"></script>
<script src="../../../resources/vendor/jquery/jquery-3.2.1.min.js"
        th:src="@{/resources/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script src="../../../resources/vendor/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script src="../../../resources/vendor/bootstrap-notify/bootstrap-notify.min.js"
        th:src="@{/resources/vendor/bootstrap-notify/bootstrap-notify.min.js}"></script>
</body>
</html>