<div>
    <h2 data-translate="quisListingApp.qlString.home.title">QL String</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="">
                <form name="searchForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="search_value">Id</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="search_id" placeholder="Search by id"
                                       ng-model="vm.searchModel.id">
                                <span  class="input-group-btn width-min" >
                                    <button class="btn btn-info" ng-click="vm.search()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <label class="col-sm-2 control-label" for="search_value">Value</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="search_value" placeholder="Search value"
                                       ng-model="vm.searchModel.value">
                                <span  class="input-group-btn width-min" >
                                    <button class="btn btn-info" ng-click="vm.search()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="search_context">Context</label>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control" id="search_context" placeholder="Search context"
                                       ng-model="vm.searchModel.context">
                                <span  class="input-group-btn width-min" >
                                    <button class="btn btn-info" ng-click="vm.search()">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>

                        <button class="btn btn-default btn-sm col-sm-2 col-sm-offset-2" ng-click="vm.clear()">
                            <span class="glyphicon glyphicon-filter"></span>
                            <span class="hidden-sm-down" >Reset</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="name"><span data-translate="quisListingApp.qlString.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="status"><span data-translate="quisListingApp.qlString.status"> Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="value"><span data-translate="quisListingApp.qlString.value"> Value</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="languageCode"><span data-translate="quisListingApp.qlString.languageCode">Language Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="context"><span data-translate="quisListingApp.qlString.context"> Context</span> <span class="glyphicon glyphicon-sort"></span></th>


                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="qlString in vm.qlStrings track by qlString.id">
                <td><a ui-sref="qlString-detail({id:qlString.id})">{{qlString.id}}</a></td>
                <td>{{qlString.name}}</td>
                <td>{{qlString.status}}</td>
                <td>{{qlString.value}}</td>
                <td>{{qlString.languageCode}}</td>
                <td>{{qlString.context}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                ui-sref="ql-string-translate({id:qlString.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.translate"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>

</div>
